Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint-xknx:
  name: pylint-xknx
  entry: pylint xknx examples
  language: python
  pass_filenames: true

pylint-test:
  name: pylint-test
  entry: pylint --disable=protected-access,abstract-class-instantiated
  language: python
  pass_filenames: true

Update test for background task for py3.14
  test/core_tests/task_registry_test.py
Due: pylint-test

Add to project description
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Update changelog.md
  docs/changelog.md
Due: none

Add Python 3.14 test runner (#1745)
  .github/workflows/ci.yml
  docs/changelog.md
  pyproject.toml
  test/core_tests/task_registry_test.py
  tox.ini
Due: pylint-test

Apply `always_callback` for write and response telegrams for Sensor and BinarySensor
  docs/binary_sensor.md
  docs/changelog.md
  docs/sensor.md
  test/devices_tests/binary_sensor_test.py
  test/devices_tests/sensor_test.py
  xknx/devices/binary_sensor.py
  xknx/devices/sensor.py
Due: mypy, pylint-xknx, pylint-test

Update binary_sensor_test.py
  test/devices_tests/binary_sensor_test.py
Due: pylint-test

Apply `always_callback` for write and response telegrams on Sensor and BinarySensor (#1746)
  docs/binary_sensor.md
  docs/changelog.md
  docs/sensor.md
  test/devices_tests/binary_sensor_test.py
  test/devices_tests/sensor_test.py
  xknx/devices/binary_sensor.py
  xknx/devices/sensor.py
Due: mypy, pylint-xknx, pylint-test

Release 3.10.0
  docs/changelog.md
  xknx/__version__.py
Due: mypy, pylint-xknx

Update dpt.py
  xknx/dpt/dpt.py
Due: mypy, pylint-xknx

update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix auto-stopper race condition
  docs/changelog.md
  xknx/devices/cover.py
Due: mypy, pylint-xknx

cleanup
  xknx/devices/cover.py
Due: mypy, pylint-xknx

Update cover.py
  xknx/devices/cover.py
Due: mypy, pylint-xknx

Fix Cover auto-stopper race condition (#1755)
  docs/changelog.md
  xknx/devices/cover.py
Due: mypy, pylint-xknx

Release 3.10.1
  docs/changelog.md
  xknx/__version__.py
Due: mypy, pylint-xknx

Refactor tunnel reconnection logic
  docs/changelog.md
  xknx/io/interface.py
  xknx/io/routing.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx

Update connection.py
  xknx/io/connection.py
Due: mypy, pylint-xknx

tests
  test/io_tests/tunnel_test.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx, pylint-test

Refactor tunnel reconnection logic (#1758)
  docs/changelog.md
  test/io_tests/tunnel_test.py
  xknx/io/connection.py
  xknx/io/interface.py
  xknx/io/routing.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx, pylint-test

Mitigate dropping frames when reconnecting tunnel
  xknx/io/tunnel.py
Due: mypy, pylint-xknx

clear reconnect task
  xknx/io/tunnel.py
Due: mypy, pylint-xknx

catch cancelation
  xknx/io/tunnel.py
Due: mypy, pylint-xknx

Mitigate dropping frames when reconnecting tunnel (#1759)
  docs/changelog.md
  xknx/io/tunnel.py
Due: mypy, pylint-xknx

Postpone UDP tunnel reconnection when receiving invalid frames
  docs/changelog.md
  test/io_tests/tunnel_test.py
  xknx/io/transport/udp_transport.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx, pylint-test

Update docs/changelog.md
  docs/changelog.md
Due: none

Postpone UDP tunnel reconnection when receiving invalid frames (#1760)
  docs/changelog.md
  test/io_tests/tunnel_test.py
  xknx/io/transport/udp_transport.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx, pylint-test

Release 3.11.0
  docs/changelog.md
  xknx/__version__.py
Due: mypy, pylint-xknx

Drop DataSecure frames when no keys are initialized
  docs/changelog.md
  test/cemi_tests/cemi_handler_test.py
  test/secure_tests/data_secure_test.py
  xknx/cemi/cemi_handler.py
  xknx/secure/data_secure.py
Due: mypy, pylint-xknx, pylint-test

Increase cemi_count_incoming even if frame dropped due to DataSecure
  test/cemi_tests/cemi_handler_test.py
  xknx/cemi/cemi_handler.py
Due: mypy, pylint-xknx, pylint-test

Drop DataSecure frames when no keys are initialized (#1761)
  docs/changelog.md
  test/cemi_tests/cemi_handler_test.py
  test/secure_tests/data_secure_test.py
  xknx/cemi/cemi_handler.py
  xknx/secure/data_secure.py
Due: mypy, pylint-xknx, pylint-test

Cleanup reconnection task logic
  docs/changelog.md
  test/io_tests/tunnel_test.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx, pylint-test

Cleanup reconnection task logic (#1762)
  docs/changelog.md
  test/io_tests/tunnel_test.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx, pylint-test

Add DataSecure group key issue callback and counter
  docs/changelog.md
  test/cemi_tests/cemi_handler_test.py
  test/core_tests/telegram_queue_test.py
  xknx/cemi/cemi_handler.py
  xknx/core/connection_manager.py
  xknx/core/telegram_queue.py
Due: mypy, pylint-xknx, pylint-test

Review
  docs/changelog.md
  test/core_tests/telegram_queue_test.py
  xknx/core/telegram_queue.py
Due: mypy, pylint-xknx, pylint-test

Add DataSecure group key issue callback and counter (#1763)
  docs/changelog.md
  test/cemi_tests/cemi_handler_test.py
  test/core_tests/telegram_queue_test.py
  xknx/cemi/cemi_handler.py
  xknx/core/connection_manager.py
  xknx/core/telegram_queue.py
Due: mypy, pylint-xknx, pylint-test

Add sorting support for address classes
  docs/changelog.md
  test/telegram_tests/address_test.py
  xknx/telegram/address.py
Due: mypy, pylint-xknx, pylint-test

Path conditions:
  mypy: any of: ^xknx/.+\.py$ and \.py$
  pylint-xknx: any of: ^(xknx/|examples/) and \.py$
  pylint-test: any of: ^test/ and \.py$
