Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint-xknx:
  name: pylint-xknx
  entry: pylint xknx examples
  language: python
  pass_filenames: true

pylint-test:
  name: pylint-test
  entry: pylint --disable=protected-access,abstract-class-instantiated
  language: python
  pass_filenames: true

Add DPTBase.get_dpt classmethod
  xknx/dpt/dpt.py
  xknx/remote_value/remote_value_sensor.py
  xknx/tools/group_communication.py
Due: mypy, pylint-xknx

Device value_type accepts dict and DTP
  xknx/core/group_address_dpt.py
  xknx/devices/expose_sensor.py
  xknx/devices/notification.py
  xknx/devices/numeric_value.py
  xknx/devices/sensor.py
  xknx/dpt/dpt.py
  xknx/remote_value/remote_value_sensor.py
  xknx/tools/group_communication.py
  xknx/typing/__init__.py
Due: mypy, pylint-xknx

Update changelog.md
  docs/changelog.md
Due: none

Add `DPTBase.get_dpt` DPT definition helper classmethod (#1652)
  docs/changelog.md
  test/dpt_tests/dpt_test.py
  xknx/core/group_address_dpt.py
  xknx/devices/expose_sensor.py
  xknx/devices/notification.py
  xknx/devices/numeric_value.py
  xknx/devices/sensor.py
  xknx/dpt/dpt.py
  xknx/remote_value/remote_value_sensor.py
  xknx/tools/group_communication.py
  xknx/typing/__init__.py
Due: mypy, pylint-xknx, pylint-test

Collect group addresses with decoding errors at eager decoder.
  docs/changelog.md
  test/core_tests/group_address_dpt_test.py
  xknx/core/group_address_dpt.py
Due: mypy, pylint-xknx, pylint-test

update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Collect group addresses with decoding errors at eager decoder. (#1661)
  docs/changelog.md
  test/core_tests/group_address_dpt_test.py
  xknx/core/group_address_dpt.py
Due: mypy, pylint-xknx, pylint-test

Configurable timezone for `Datetime` device using `localtime`
  docs/changelog.md
  docs/time.md
  test/devices_tests/datetime_test.py
  xknx/devices/datetime.py
Due: mypy, pylint-xknx, pylint-test

simplify
  xknx/devices/datetime.py
Due: mypy, pylint-xknx

Configurable timezone for `Datetime` device using `localtime` (#1663)
  docs/changelog.md
  docs/time.md
  test/devices_tests/datetime_test.py
  xknx/devices/datetime.py
Due: mypy, pylint-xknx, pylint-test

Add pytest options
  pyproject.toml
Due: none

Add pytest options (#1664)
  pyproject.toml
Due: none

Release 3.6.0
  docs/changelog.md
  xknx/__version__.py
Due: mypy, pylint-xknx

Update ruff to 0.11.0
  requirements/testing.txt
  test/telegram_tests/address_test.py
  xknx/dpt/dpt_9.py
  xknx/secure/keyring.py
Due: mypy, pylint-xknx, pylint-test

Fix remaining routing busy time calculation
  xknx/io/routing.py
Due: mypy, pylint-xknx

Fix tests
  test/io_tests/routing_test.py
Due: pylint-test

Fix remaining routing busy time calculation (#1669)
  docs/changelog.md
  test/io_tests/routing_test.py
  xknx/io/routing.py
Due: mypy, pylint-xknx, pylint-test

Split multicast socket for UDPTransport
  xknx/io/transport/udp_transport.py
Due: mypy, pylint-xknx

Add integration test for router indications
  test/integration_tests/__init__.py
  test/integration_tests/routing_multicast_test.py
Due: pylint-test

Use the local address 127.0.0.1 to test routing indications
  test/integration_tests/routing_multicast_test.py
Due: pylint-test

Use experimental multicast group during integration testing
  test/integration_tests/routing_multicast_test.py
Due: pylint-test

Drop tox-gh-actions plugin
  requirements/testing.txt
  tox.ini
Due: none

Run CI on macos and windows too
  .github/workflows/ci.yml
  requirements/testing.txt
Due: none

Fix logging test for Windows
  test/xknx_test.py
Due: pylint-test

add a comment for the mcast group
  test/integration_tests/routing_multicast_test.py
Due: pylint-test

Split multicast socket for UDPTransport (#1678)
  test/integration_tests/__init__.py
  test/integration_tests/routing_multicast_test.py
  xknx/io/transport/udp_transport.py
Due: mypy, pylint-xknx, pylint-test

Run CI on macos and windows too (#1679)
  .github/workflows/ci.yml
  requirements/testing.txt
  test/xknx_test.py
  tox.ini
Due: pylint-test

Release 3.7.0
  docs/changelog.md
  xknx/__version__.py
Due: mypy, pylint-xknx

Fix changelog
  docs/changelog.md
Due: none

Support explicitly passing a keyring in the secure config
  xknx/io/connection.py
  xknx/io/knxip_interface.py
Due: mypy, pylint-xknx

Added doc comment and type annotation
  xknx/io/connection.py
Due: mypy, pylint-xknx

Add test of secure routing with an explicit keyring
  test/io_tests/knxip_interface_test.py
Due: pylint-test

Support explicitly passing a keyring in the secure config (#1681)
  test/io_tests/knxip_interface_test.py
  xknx/io/connection.py
  xknx/io/knxip_interface.py
Due: mypy, pylint-xknx, pylint-test

fix: fix dpt 235.001 validation check
  xknx/dpt/dpt_235.py
Due: mypy, pylint-xknx

fix: fix dpt 235.001 tests
  test/dpt_tests/dpt_235_tariff_active_energy_test.py
Due: pylint-test

fix: fix _to_knx method for DPT 235.001
  xknx/dpt/dpt_235.py
Due: mypy, pylint-xknx

Path conditions:
  mypy: any of: ^xknx/.+\.py$ and \.py$
  pylint-xknx: any of: ^(xknx/|examples/) and \.py$
  pylint-test: any of: ^test/ and \.py$
