Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude_types: [csv, json]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.9.1'
    hooks:
      - id: ruff
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
        files: ^((xknx|test|examples|docs)/.+)?[^/]+\.py$
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=main
      - id: trailing-whitespace
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.7.0
    hooks:
      # Run `pre-commit run --hook-stage manual python-typing-update --all-files` manually
      # from time to time to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py310-plus
          - --force
          - --keep-updates
        files: ^(xknx)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^xknx/.+\.py$

  - repo: local
    hooks:
    - id: pylint-xknx
      name: pylint-xknx
      entry: pylint xknx examples
      language: python
      types: [python]
      pass_filenames: true
      files: ^(xknx/|examples/)

    - id: pylint-test
      name: pylint-test
      entry: pylint --disable=protected-access,abstract-class-instantiated
      language: python
      types: [python]
      pass_filenames: true
      files: ^test/

Fix flipped DPT 235.001 data validity bits (#1685)
  test/dpt_tests/dpt_235_tariff_active_energy_test.py
  xknx/dpt/dpt_235.py
Due: mypy, pylint-xknx, pylint-test

Release 3.8.0
  docs/changelog.md
  xknx/__version__.py
Due: mypy, pylint-xknx

update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Use `repr()` for values in exceptions
  docs/changelog.md
  test/io_tests/knxip_interface_test.py
  test/str_test.py
  xknx/devices/climate_mode.py
  xknx/exceptions/exception.py
  xknx/remote_value/remote_value_step.py
  xknx/remote_value/remote_value_switch.py
  xknx/remote_value/remote_value_updown.py
Due: mypy, pylint-xknx, pylint-test

Use `repr()` for values in exceptions (#1687)
  docs/changelog.md
  test/io_tests/knxip_interface_test.py
  test/str_test.py
  xknx/devices/climate_mode.py
  xknx/exceptions/exception.py
  xknx/remote_value/remote_value_step.py
  xknx/remote_value/remote_value_switch.py
  xknx/remote_value/remote_value_updown.py
Due: mypy, pylint-xknx, pylint-test

Fix typing
  xknx/cemi/cemi_frame.py
  xknx/io/knxip_interface.py
  xknx/secure/data_secure_asdu.py
  xknx/secure/keyring.py
  xknx/secure/security_primitives.py
  xknx/secure/util.py
Due: mypy, pylint-xknx

Update example_telegram_monitor.py
  examples/example_telegram_monitor.py
Due: pylint-xknx

Update example_telegram_monitor.py (#1696)
  examples/example_telegram_monitor.py
Due: pylint-xknx

don't use deprecated event_loop fixture
  test/conftest.py
Due: pylint-test

Create example_read_serial_number.py
  examples/example_read_serial_number.py
Due: pylint-xknx

ai review
  examples/example_read_serial_number.py
Due: pylint-xknx

Create example_read_serial_number.py (#1706)
  examples/example_read_serial_number.py
Due: pylint-xknx

Remove unnecessary ruff noqa comments
  xknx/telegram/__init__.py
  xknx/tools/__init__.py
Due: mypy, pylint-xknx

Add `group_addresses` method to `Device`
  docs/changelog.md
  test/devices_tests/weather_test.py
  test/remote_value_tests/remote_value_test.py
  xknx/devices/climate.py
  xknx/devices/device.py
  xknx/remote_value/remote_value.py
Due: mypy, pylint-xknx, pylint-test

Update devices.md
  docs/devices.md
Due: none

Fix climate
  test/devices_tests/climate_test.py
  test/devices_tests/switch_test.py
  xknx/devices/climate.py
Due: mypy, pylint-xknx, pylint-test

Add `group_addresses` method to `Device` (#1707)
  docs/changelog.md
  docs/devices.md
  test/devices_tests/climate_test.py
  test/devices_tests/switch_test.py
  test/devices_tests/weather_test.py
  test/remote_value_tests/remote_value_test.py
  xknx/devices/climate.py
  xknx/devices/device.py
  xknx/remote_value/remote_value.py
Due: mypy, pylint-xknx, pylint-test

item/cover: adding invert_stop
  docs/cover.md
  xknx/devices/cover.py
Due: mypy, pylint-xknx

Update util.py
  xknx/io/util.py
Due: mypy, pylint-xknx

Use macOS 14 instead of 15 in CI
  .github/workflows/ci.yml
Due: none

Use macOS 14 instead of 15 in CI (#1718)
  .github/workflows/ci.yml
Due: none

Fire callback for Scene devices
  docs/changelog.md
  test/devices_tests/scene_test.py
  xknx/devices/scene.py
Due: mypy, pylint-xknx, pylint-test

Fire callback for Scene devices (#1717)
  docs/changelog.md
  test/devices_tests/scene_test.py
  xknx/devices/scene.py
Due: mypy, pylint-xknx, pylint-test

Release 3.9.0
  docs/changelog.md
  xknx/__version__.py
Due: mypy, pylint-xknx

secure: define Buffer type locally
  xknx/secure/security_primitives.py
  xknx/secure/util.py
Due: mypy, pylint-xknx

Update util.py
  xknx/secure/util.py
Due: mypy, pylint-xknx

ruff fix
  xknx/secure/util.py
Due: mypy, pylint-xknx

Use custom `Buffer` type instead cryptography's (#1721)
  xknx/secure/security_primitives.py
  xknx/secure/util.py
Due: mypy, pylint-xknx

Fail CI on coverage upload error
  .github/workflows/ci.yml
Due: none

Fail CI on coverage upload error (#1731)
  .github/workflows/ci.yml
Due: none

Fix Climate `supports_on_off` initialized by empty list
  test/devices_tests/climate_test.py
  xknx/devices/climate.py
Due: mypy, pylint-xknx, pylint-test

Update changelog.md
  docs/changelog.md
Due: none

Same issue for datetime
  xknx/devices/datetime.py
Due: mypy, pylint-xknx

Fix Climate `supports_on_off` initialized by empty list (#1744)
  docs/changelog.md
  test/devices_tests/climate_test.py
  xknx/devices/climate.py
  xknx/devices/datetime.py
Due: mypy, pylint-xknx, pylint-test

Release 3.9.1
  docs/changelog.md
  xknx/__version__.py
Due: mypy, pylint-xknx

Add Python 3.14 test runner
  .github/workflows/ci.yml
  tox.ini
Due: none
