Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint-xknx:
  name: pylint-xknx
  entry: pylint xknx examples
  language: python
  pass_filenames: true

pylint-test:
  name: pylint-test
  entry: pylint --disable=protected-access,abstract-class-instantiated
  language: python
  pass_filenames: true

fix: contain unexpected CEMI parse errors at the receive boundary
  test/cemi_tests/cemi_handler_test.py
  xknx/cemi/cemi_handler.py
Due: mypy, pylint-xknx, pylint-test

docs: note CEMI parse-error handling in changelog
  docs/changelog.md
Due: none

fix: distinguish unsupported from malformed APDUs in logging
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/telegram_tests/apci_test.py
  xknx/cemi/cemi_frame.py
  xknx/exceptions/__init__.py
  xknx/exceptions/exception.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

fix: don't let malformed APDUs crash the CEMI parser (#1871)
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/cemi_tests/cemi_handler_test.py
  test/telegram_tests/apci_test.py
  xknx/cemi/cemi_frame.py
  xknx/cemi/cemi_handler.py
  xknx/exceptions/__init__.py
  xknx/exceptions/exception.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Release 3.17.0
  README.md
  docs/binary_sensor.md
  docs/changelog.md
  docs/climate.md
  docs/cover.md
  docs/fan.md
  docs/index.md
  docs/introduction.md
  docs/light.md
  docs/numeric_value.md
  docs/raw_value.md
  docs/sensor.md
  docs/switch.md
  docs/time.md
  docs/weather.md
  docs/xknx.md
  requirements/testing.txt
  xknx/__version__.py
  xknx/remote_value/remote_value.py
Due: mypy, pylint-xknx

Release 3.17.0 (#1875)
  README.md
  docs/binary_sensor.md
  docs/changelog.md
  docs/climate.md
  docs/cover.md
  docs/fan.md
  docs/index.md
  docs/introduction.md
  docs/light.md
  docs/numeric_value.md
  docs/raw_value.md
  docs/sensor.md
  docs/switch.md
  docs/time.md
  docs/weather.md
  docs/xknx.md
  requirements/testing.txt
  xknx/__version__.py
  xknx/remote_value/remote_value.py
Due: mypy, pylint-xknx

Add host-agnostic MCP tool functions (xknx.mcp)
  test/mcp_tests/__init__.py
  test/mcp_tests/tools_test.py
  xknx/mcp/__init__.py
  xknx/mcp/tools.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

mcp: use a chained comparison in _paginate
  xknx/mcp/tools.py
Due: mypy, pylint-xknx

mcp: fix codespell (unparseable -> unparsable) in tests
  test/mcp_tests/tools_test.py
Due: pylint-test

mcp: drop dead value-coercion branches, cover _jsonify + list_dpts
  test/mcp_tests/tools_test.py
  xknx/mcp/tools.py
Due: mypy, pylint-xknx, pylint-test

mcp: address review — field descriptions, pagination, naming
  docs/changelog.md
  test/mcp_tests/tools_test.py
  xknx/mcp/__init__.py
  xknx/mcp/tools.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

Add MCP tool functions to encode and decode DPT values
  test/mcp_tests/tools_test.py
  xknx/mcp/__init__.py
  xknx/mcp/tools.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

fix: add explicit length checks to every APCI from_knx to prevent crashes on malformed frames
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

test: cover remaining untested to_knx range checks in apci_test.py
  test/telegram_tests/apci_test.py
Due: pylint-test

fix: add explicit length checks to every APCI from_knx to prevent crashes on malformed frames (#1877)
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

test: cover remaining untested to_knx range checks in apci_test.py (#1878)
  test/telegram_tests/apci_test.py
Due: pylint-test

mcp: fix lint/typing/coverage for encode/decode tools
  test/mcp_tests/tools_test.py
  xknx/mcp/tools.py
Due: mypy, pylint-xknx, pylint-test

mcp: rename encode_value/decode_payload -> encode_dpt_payload/decode_dpt_payload
  docs/changelog.md
  test/mcp_tests/tools_test.py
  xknx/mcp/__init__.py
  xknx/mcp/tools.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

Add host-agnostic MCP tool functions (xknx.mcp) (#1876)
  docs/changelog.md
  test/mcp_tests/__init__.py
  test/mcp_tests/tools_test.py
  xknx/mcp/__init__.py
  xknx/mcp/tools.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

mcp: enrich DPT summaries/decoding and simplify list_dpts
  test/mcp_tests/tools_test.py
  xknx/mcp/tools.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

fix: send L_Data_Extended frames for APDUs longer than 15 octets
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/secure_tests/data_secure_test.py
  xknx/cemi/cemi_frame.py
  xknx/cemi/const.py
Due: mypy, pylint-xknx, pylint-test

fix: use Extended Frame Format when outgoing NPDU exceeds 15 octets
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/secure_tests/data_secure_test.py
  xknx/cemi/cemi_frame.py
  xknx/cemi/const.py
Due: mypy, pylint-xknx, pylint-test

refactor: derive Frame Type instead of storing it in CEMILData.flags
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/str_test.py
  xknx/cemi/cemi_frame.py
Due: mypy, pylint-xknx, pylint-test

Revert "refactor: derive Frame Type instead of storing it in CEMILData.flags"
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/str_test.py
  xknx/cemi/cemi_frame.py
Due: mypy, pylint-xknx, pylint-test

Send L_Data_Extended frames for APDUs longer than 15 octets (#1882)
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/secure_tests/data_secure_test.py
  xknx/cemi/cemi_frame.py
  xknx/cemi/const.py
Due: mypy, pylint-xknx, pylint-test

mcp: address review — rename enum_values→options, lower-case enum values
  test/mcp_tests/tools_test.py
  xknx/mcp/tools.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

mcp: enrich DPT summaries/decoding (follow-up to #1876) (#1880)
  test/mcp_tests/tools_test.py
  xknx/mcp/tools.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

Fail CI on format issues
  tox.ini
Due: none

lint all files
  test/mcp_tests/tools_test.py
  xknx/mcp/tools.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

Fail CI on format issues (#1885)
  test/mcp_tests/tools_test.py
  tox.ini
  xknx/mcp/tools.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

mcp: clarify payload type/length, rename schema to fields, coerce binary payload ints
  test/mcp_tests/tools_test.py
  xknx/mcp/tools.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

mcp: clarify payload type/length, rename schema to fields, coerce binary payload ints (#1891)
  test/mcp_tests/tools_test.py
  xknx/mcp/tools.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

Partly revert #1891
  test/mcp_tests/tools_test.py
  xknx/mcp/tools.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

Streamline MCP raw payload type
  test/mcp_tests/tools_test.py
  xknx/mcp/tools.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

mcp: describe input fields via dataclass field metadata
  test/mcp_tests/types_test.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

Partly revert #1891 (#1892)
  test/mcp_tests/tools_test.py
  xknx/mcp/tools.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

Streamline MCP raw payload type (#1893)
  test/mcp_tests/tools_test.py
  xknx/mcp/tools.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

mcp: describe input fields via dataclass field metadata (#1894)
  test/mcp_tests/types_test.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx, pylint-test

Release 3.18.0 Protocol Droid
  docs/changelog.md
  xknx/__version__.py
Due: mypy, pylint-xknx

Path conditions:
  mypy: any of: ^xknx/.+\.py$ and \.py$
  pylint-xknx: any of: ^(xknx/|examples/) and \.py$
  pylint-test: any of: ^test/ and \.py$
