Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint-xknx:
  name: pylint-xknx
  entry: pylint xknx examples
  language: python
  pass_filenames: true

pylint-test:
  name: pylint-test
  entry: pylint --disable=protected-access,abstract-class-instantiated
  language: python
  pass_filenames: true

fix: correct calculated_length off-by-one in UserMemoryBitWrite/FilterTable*
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_FilterTable_Write APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

fix: tighten A_FilterTable_Read/Response number bounds to spec
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_FilterTable_Read/Response APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_FilterTable_Open APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: add stubs for remaining APCI services from spec table
  test/cemi_tests/cemi_frame_test.py
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_UserMemoryBit_Write APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

test: add calculated_length()==len(to_knx())-1 regression check file-wide (#1864)
  test/telegram_tests/apci_test.py
Due: pylint-test

feat: implement A_RouterMemory_Read/Response APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

fix: re-export ReturnCode from xknx.management.application_layer_enum
  docs/changelog.md
  xknx/management/application_layer_enum.py
Due: mypy, pylint-xknx

feat: implement A_RouterMemory_Write APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

fix: re-export ReturnCode from xknx.management.application_layer_enum (#1865)
  docs/changelog.md
  xknx/management/application_layer_enum.py
Due: mypy, pylint-xknx

feat: implement A_MemoryBit_Write APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_Key_Write/Response APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_NetworkParameter_Read/Response APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_NetworkParameter_Write APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

Add DPT 4
  docs/changelog.md
  test/devices_tests/notification_test.py
  test/dpt_tests/dpt_4_character_test.py
  xknx/devices/notification.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt_4.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_DomainAddress_Write/Read/Response APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_DomainAddressSelective_Read APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

Add DPT 4 (single character) (#1866)
  docs/changelog.md
  test/devices_tests/notification_test.py
  test/dpt_tests/dpt_4_character_test.py
  xknx/devices/notification.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt_4.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_DomainAddressSerialNumber_Read APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_Link_Read/Response APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_Link_Write APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

docs: explain why A_RouterStatus_* stays unimplemented
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

feat: implement A_GroupPropValue_Read/Response/Write/InfoReport APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_DomainAddressSerialNumber_Response/Write APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_FileStream_InfoReport APCI parsing
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

docs: add changelog entries for the remaining APCI services
  docs/changelog.md
Due: none

test: cover previously untested ConversionError branches
  test/telegram_tests/apci_test.py
Due: pylint-test

test: cover remaining untested ConversionError branches
  test/telegram_tests/apci_test.py
Due: pylint-test

fix: A_RouterStatus_* from_knx raises ConversionError
  test/cemi_tests/cemi_frame_test.py
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: recognize A_RouterStatus_Read/Response/Write APCI services
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_UserMemoryBit_Write and A_MemoryBit_Write APCI parsing
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

fix: guard A_DomainAddressSerialNumber_Read against truncated frames
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

fix: reject malformed A_DomainAddress_Read and A_DomainAddressSelective_Read frames
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

fix: A_DomainAddressSelective_Read asdu is variable-length, not fixed 5 octets
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement parsing for all APCI's / APDU's (#1867)
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

Cleanup changelog
  docs/changelog.md
Due: none

fix: don't let malformed APDUs crash the CEMI parser
  docs/changelog.md
  xknx/cemi/cemi_frame.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

test: cover malformed/truncated APDU handling
  test/cemi_tests/cemi_frame_test.py
  test/telegram_tests/apci_test.py
Due: pylint-test

Path conditions:
  mypy: any of: ^xknx/.+\.py$ and \.py$
  pylint-xknx: any of: ^(xknx/|examples/) and \.py$
  pylint-test: any of: ^test/ and \.py$
