Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint-xknx:
  name: pylint-xknx
  entry: pylint xknx examples
  language: python
  pass_filenames: true

pylint-test:
  name: pylint-test
  entry: pylint --disable=protected-access,abstract-class-instantiated
  language: python
  pass_filenames: true

refactor(procedures): rename dm/ to device/ and nm/ to network/
  test/management_tests/procedures/device/__init__.py
  test/management_tests/procedures/device/test_dm_restart_rco.py
  test/management_tests/procedures/network/__init__.py
  test/management_tests/procedures/network/test_nm_individual_address_check.py
  test/management_tests/procedures/network/test_nm_individual_address_read.py
  test/management_tests/procedures/network/test_nm_individual_address_serial_number_read.py
  test/management_tests/procedures/network/test_nm_individual_address_serial_number_write.py
  test/management_tests/procedures/network/test_nm_individual_address_write.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dm_restart_rco.py
  xknx/management/procedures/network/__init__.py
  xknx/management/procedures/network/nm_individual_address_check.py
  xknx/management/procedures/network/nm_individual_address_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_write.py
  xknx/management/procedures/network/nm_individual_address_write.py
Due: mypy, pylint-xknx, pylint-test

fix: changelog
  docs/changelog.md
Due: none

refactor(procedures): rename dm_restart_rco to dm_restart_r_co
  test/management_tests/procedures/device/test_dm_restart_r_co.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dm_restart_r_co.py
Due: mypy, pylint-xknx, pylint-test

docs: improve wording on procedure imports
  xknx/management/procedures/__init__.py
Due: mypy, pylint-xknx

fix: improve procedure subpackage docs
  xknx/management/procedures/__init__.py
Due: mypy, pylint-xknx

refactor(management): split procedures.py into per-procedure package (#1831)
  docs/changelog.md
  test/management_tests/procedures/__init__.py
  test/management_tests/procedures/device/__init__.py
  test/management_tests/procedures/device/test_dm_restart_r_co.py
  test/management_tests/procedures/network/__init__.py
  test/management_tests/procedures/network/test_nm_individual_address_check.py
  test/management_tests/procedures/network/test_nm_individual_address_read.py
  test/management_tests/procedures/network/test_nm_individual_address_serial_number_read.py
  test/management_tests/procedures/network/test_nm_individual_address_serial_number_write.py
  test/management_tests/procedures/network/test_nm_individual_address_write.py
  xknx/management/procedures.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dm_restart_r_co.py
  xknx/management/procedures/network/__init__.py
  xknx/management/procedures/network/nm_individual_address_check.py
  xknx/management/procedures/network/nm_individual_address_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_write.py
  xknx/management/procedures/network/nm_individual_address_write.py
Due: mypy, pylint-xknx, pylint-test

refactor(management): clean protocol API for procedures
  test/management_tests/procedures/device/test_dm_restart_r_co.py
  test/management_tests/procedures/device/test_legacy.py
  test/management_tests/procedures/network/test_legacy.py
  test/management_tests/procedures/network/test_nm_individual_address_check.py
  test/management_tests/procedures/network/test_nm_individual_address_read.py
  test/management_tests/procedures/network/test_nm_individual_address_serial_number_read.py
  test/management_tests/procedures/network/test_nm_individual_address_serial_number_write.py
  test/management_tests/procedures/network/test_nm_individual_address_write.py
  xknx/management/management.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dm_restart_r_co.py
  xknx/management/procedures/device/legacy.py
  xknx/management/procedures/network/__init__.py
  xknx/management/procedures/network/legacy.py
  xknx/management/procedures/network/nm_individual_address_check.py
  xknx/management/procedures/network/nm_individual_address_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_write.py
  xknx/management/procedures/network/nm_individual_address_write.py
  xknx/management/protocols.py
Due: mypy, pylint-xknx, pylint-test

docs: add changelog entry for procedure API refactor
  docs/changelog.md
Due: none

feat(management): implement dm_authorize and dm_connect procedures
  test/management_tests/procedures/device/test_dm_authorize.py
  test/management_tests/procedures/device/test_dm_connect.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dm_authorize.py
  xknx/management/procedures/device/dm_connect.py
Due: mypy, pylint-xknx, pylint-test

feat(management): default dmp_authorize_r_co key to FREE_ACCESS_KEY
  xknx/management/procedures/device/dm_authorize.py
Due: mypy, pylint-xknx

feat(management): implement DMP_InterfaceObjectRead_R and DMP_InterfaceObjectWrite_R
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

docs: add changelog entry for DMP_InterfaceObjectRead_R and DMP_InterfaceObjectWrite_R
  docs/changelog.md
Due: none

fix(management): resolve pylint warnings in protocols and procedures
  xknx/management/procedures/__init__.py
  xknx/management/protocols.py
Due: mypy, pylint-xknx

test(management): cover ManagementConnectionRefused swallow path in nm_individual_address_write
  test/management_tests/procedures/network/test_nm_individual_address_write.py
Due: pylint-test

feat(management): implement DMP_InterfaceObjectScan_R and DMP_InterfaceObjectVerify_R
  test/management_tests/procedures/device/test_dmp_interface_object_scan_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

refactor(management): remove spec text from scan_r and verify_r module docstrings
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
Due: mypy, pylint-xknx

fix(management): use fixture(name=) pattern to avoid pylint redefined-outer-name in device procedure tests
  docs/changelog.md
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_scan_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
Due: pylint-test

Add DPTComplex dict schema descriptions
  test/dpt_tests/dpt_10_time_test.py
  test/dpt_tests/dpt_18_scene_control_test.py
  test/dpt_tests/dpt_19_datetime_test.py
  test/dpt_tests/dpt_20_hvac_mode_test.py
  test/dpt_tests/dpt_235_tariff_active_energy_test.py
  test/dpt_tests/dpt_color_test.py
  test/dpt_tests/dpt_complex_schema_test.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt.py
  xknx/dpt/dpt_10.py
  xknx/dpt/dpt_11.py
  xknx/dpt/dpt_18.py
  xknx/dpt/dpt_19.py
  xknx/dpt/dpt_232.py
  xknx/dpt/dpt_235.py
  xknx/dpt/dpt_242.py
  xknx/dpt/dpt_251.py
  xknx/dpt/dpt_3.py
  xknx/typing/__init__.py
Due: mypy, pylint-xknx, pylint-test

Update changelog.md
  docs/changelog.md
Due: none

Update Ruby stuff for docs build
  README.md
  docs/.ruby-version
  docs/Gemfile.lock
  docs/_layouts/default.html
  docs/index.md
Due: none

Fix metadata and add tests
  test/dpt_tests/dpt_11_date_test.py
  test/dpt_tests/dpt_3_test.py
  test/dpt_tests/dpt_complex_schema_test.py
  xknx/dpt/dpt_11.py
  xknx/dpt/dpt_3.py
Due: mypy, pylint-xknx, pylint-test

Rephrase attributions
  README.md
  docs/index.md
Due: none

Fix css to match previous style
  docs/assets/css/style.css
Due: none

Update Ruby stuff for docs build (#1836)
  README.md
  docs/.ruby-version
  docs/Gemfile.lock
  docs/_layouts/default.html
  docs/assets/css/style.css
  docs/changelog.md
  docs/index.md
Due: none

Remove xknx.yaml Config-Converter from website
  docs/config-converter/index.html
  docs/config-converter/lib/codemirror/codemirror.css
  docs/config-converter/lib/codemirror/codemirror.js
  docs/config-converter/lib/codemirror/mode/yaml/yaml.js
  docs/config-converter/lib/converter.js
  docs/config-converter/lib/js-yaml/js-yaml.min.js
  docs/config-converter/styles/converter.css
  docs/config_converter.md
Due: none

Remove xknx.yaml Config-Converter from website (#1837)
  docs/changelog.md
  docs/config-converter/index.html
  docs/config-converter/lib/codemirror/codemirror.css
  docs/config-converter/lib/codemirror/codemirror.js
  docs/config-converter/lib/codemirror/mode/yaml/yaml.js
  docs/config-converter/lib/converter.js
  docs/config-converter/lib/js-yaml/js-yaml.min.js
  docs/config-converter/styles/converter.css
  docs/config_converter.md
Due: none

Use special dataclass definition for schema override
  xknx/dpt/dpt.py
  xknx/dpt/dpt_242.py
Due: mypy, pylint-xknx

update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add DPTComplex dict schema descriptions (#1835)
  docs/changelog.md
  test/dpt_tests/dpt_10_time_test.py
  test/dpt_tests/dpt_11_date_test.py
  test/dpt_tests/dpt_18_scene_control_test.py
  test/dpt_tests/dpt_19_datetime_test.py
  test/dpt_tests/dpt_20_hvac_mode_test.py
  test/dpt_tests/dpt_235_tariff_active_energy_test.py
  test/dpt_tests/dpt_3_test.py
  test/dpt_tests/dpt_color_test.py
  test/dpt_tests/dpt_complex_schema_test.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt.py
  xknx/dpt/dpt_10.py
  xknx/dpt/dpt_11.py
  xknx/dpt/dpt_18.py
  xknx/dpt/dpt_19.py
  xknx/dpt/dpt_232.py
  xknx/dpt/dpt_235.py
  xknx/dpt/dpt_242.py
  xknx/dpt/dpt_251.py
  xknx/dpt/dpt_3.py
  xknx/typing/__init__.py
Due: mypy, pylint-xknx, pylint-test

Release 3.16.0
  docs/changelog.md
  xknx/__version__.py
Due: mypy, pylint-xknx

Add DPT 2 definitions
  docs/changelog.md
  test/dpt_tests/dpt_2_test.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt_2.py
Due: mypy, pylint-xknx, pylint-test

Add to lookup test
  test/dpt_tests/dpt_lookup_test.py
  xknx/dpt/dpt_2.py
Due: mypy, pylint-xknx, pylint-test

require value
  test/dpt_tests/dpt_2_test.py
  xknx/dpt/dpt_2.py
Due: mypy, pylint-xknx, pylint-test

Raise dedicated exception on DataSecure sequence number overflow
  test/secure_tests/data_secure_test.py
  xknx/secure/data_secure.py
Due: mypy, pylint-xknx, pylint-test

Path conditions:
  mypy: any of: ^xknx/.+\.py$ and \.py$
  pylint-xknx: any of: ^(xknx/|examples/) and \.py$
  pylint-test: any of: ^test/ and \.py$
