Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude_types: [csv, json]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.9.1'
    hooks:
      - id: ruff
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
        files: ^((xknx|test|examples|docs)/.+)?[^/]+\.py$
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=main
      - id: trailing-whitespace
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.7.0
    hooks:
      # Run `pre-commit run --hook-stage manual python-typing-update --all-files` manually
      # from time to time to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py310-plus
          - --force
          - --keep-updates
        files: ^(xknx)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^xknx/.+\.py$

  - repo: local
    hooks:
    - id: pylint-xknx
      name: pylint-xknx
      entry: pylint xknx examples
      language: python
      types: [python]
      pass_filenames: true
      files: ^(xknx/|examples/)

    - id: pylint-test
      name: pylint-test
      entry: pylint --disable=protected-access,abstract-class-instantiated
      language: python
      types: [python]
      pass_filenames: true
      files: ^test/

feat(management): add DM_Identify_R and DM_Identify_RCo2
  docs/changelog.md
  test/management_tests/procedures/device/test_dm_identify_r.py
  test/management_tests/procedures/device/test_dm_identify_r_co2.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dm_identify_r.py
  xknx/management/procedures/device/dm_identify_r_co2.py
Due: mypy, pylint-xknx, pylint-test

fix(management): address spec review of the identify procedures
  docs/changelog.md
  test/management_tests/procedures/device/test_dm_identify_r.py
  test/management_tests/procedures/device/test_dm_identify_r_co2.py
  xknx/management/procedures/device/dm_identify_r.py
  xknx/management/procedures/device/dm_identify_r_co2.py
Due: mypy, pylint-xknx, pylint-test

refactor: inline DeviceUpdate.current() and drop current_telegram_context()
  test/telegram_tests/telegram_test.py
  xknx/devices/device.py
  xknx/telegram/__init__.py
  xknx/telegram/telegram.py
Due: mypy, pylint-xknx, pylint-test

refactor!: expose the update cause as Device.last_update instead of a callback argument
  docs/changelog.md
  docs/devices.md
  docs/xknx.md
  examples/example_callback.py
  examples/example_daemon.py
  examples/example_powermeter_mqtt.py
  examples/example_scene.py
  test/devices_tests/binary_sensor_test.py
  test/devices_tests/climate_test.py
  test/devices_tests/cover_test.py
  test/devices_tests/device_test.py
  test/devices_tests/device_update_test.py
  test/devices_tests/devices_test.py
  test/devices_tests/expose_sensor_test.py
  test/devices_tests/light_test.py
  test/devices_tests/notification_test.py
  test/devices_tests/numeric_value_test.py
  test/devices_tests/raw_value_test.py
  test/devices_tests/scene_test.py
  test/devices_tests/sensor_test.py
  test/devices_tests/switch_test.py
  xknx/devices/device.py
  xknx/devices/devices.py
  xknx/telegram/telegram.py
  xknx/typing/__init__.py
Due: mypy, pylint-xknx, pylint-test

fix: rework group write value handling
  test/cli_tests/cli_test.py
  xknx/cli/group/write.py
Due: mypy, pylint-xknx, pylint-test

fix: monitor installs its own removable SIGINT handler
  test/cli_tests/cli_test.py
  xknx/cli/group/monitor.py
Due: mypy, pylint-xknx, pylint-test

fix: scan argument validation and interface error reporting
  test/cli_tests/cli_test.py
  xknx/cli/scan.py
Due: mypy, pylint-xknx, pylint-test

refactor: pass the group class to _add_command_group
  xknx/cli/__init__.py
Due: mypy, pylint-xknx

refactor: share value formatting between group read and monitor
  test/cli_tests/cli_test.py
  xknx/cli/_command.py
  xknx/cli/group/monitor.py
  xknx/cli/group/read.py
Due: mypy, pylint-xknx, pylint-test

test: cover the runtime ConversionError exit path
  test/cli_tests/cli_test.py
Due: pylint-test

docs: document hex payloads and literal string values for group write
  docs/cli.md
Due: none

refactor: rely on asyncio's SIGINT handling in monitor
  test/cli_tests/cli_test.py
  xknx/cli/group/monitor.py
Due: mypy, pylint-xknx, pylint-test

fix: prefix raw payloads with 0x so read output round-trips into write
  docs/cli.md
  test/cli_tests/cli_test.py
  xknx/cli/_command.py
  xknx/cli/group/write.py
Due: mypy, pylint-xknx, pylint-test

fix: report OSError as an error instead of a traceback
  test/cli_tests/cli_test.py
  xknx/cli/__init__.py
Due: mypy, pylint-xknx, pylint-test

fix: precise --gateway errors for malformed host:port values
  test/cli_tests/cli_test.py
  xknx/cli/_command.py
Due: mypy, pylint-xknx, pylint-test

docs: list the CLI under the existing Features changelog heading
  docs/changelog.md
Due: none

Build the docs site on Netlify with its preinstalled Ruby, skip builds without docs changes
  docs/.ruby-version
  docs/Gemfile.lock
  docs/README.md
  docs/changelog.md
  docs/netlify.toml
Due: none
