Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude_types: [csv, json]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.9.1'
    hooks:
      - id: ruff
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
        files: ^((xknx|test|examples|docs)/.+)?[^/]+\.py$
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=main
      - id: trailing-whitespace
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.7.0
    hooks:
      # Run `pre-commit run --hook-stage manual python-typing-update --all-files` manually
      # from time to time to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py310-plus
          - --force
          - --keep-updates
        files: ^(xknx)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^xknx/.+\.py$

  - repo: local
    hooks:
    - id: pylint-xknx
      name: pylint-xknx
      entry: pylint xknx examples
      language: python
      types: [python]
      pass_filenames: true
      files: ^(xknx/|examples/)

    - id: pylint-test
      name: pylint-test
      entry: pylint --disable=protected-access,abstract-class-instantiated
      language: python
      types: [python]
      pass_filenames: true
      files: ^test/

refactor: hold Frame Type and Extended Frame Format as typed values
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/cemi_tests/flags_test.py
  test/str_test.py
  xknx/cemi/__init__.py
  xknx/cemi/cemi_frame.py
  xknx/cemi/flags.py
Due: mypy, pylint-xknx, pylint-test

refactor: give CEMILData.flags a proper type
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/cemi_tests/flags_test.py
  test/knxip_tests/routing_indication_test.py
  test/secure_tests/data_secure_test.py
  test/str_test.py
  xknx/cemi/__init__.py
  xknx/cemi/cemi_frame.py
  xknx/cemi/const.py
  xknx/cemi/flags.py
  xknx/secure/data_secure.py
  xknx/secure/data_secure_asdu.py
Due: mypy, pylint-xknx, pylint-test

refactor: let each control field part serialize itself
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/cemi_tests/flags_test.py
  test/secure_tests/data_secure_test.py
  xknx/cemi/__init__.py
  xknx/cemi/cemi_frame.py
  xknx/cemi/flags.py
  xknx/secure/data_secure.py
  xknx/secure/data_secure_asdu.py
Due: mypy, pylint-xknx, pylint-test

refactor: serialize the Extended Frame Format instead of a constant
  docs/changelog.md
  test/cemi_tests/flags_test.py
  xknx/cemi/flags.py
  xknx/secure/data_secure.py
  xknx/secure/data_secure_asdu.py
Due: mypy, pylint-xknx, pylint-test

Update pyproject.toml
  pyproject.toml
Due: none

Disable ruff ASYNC109 rule (#1917)
  pyproject.toml
  xknx/management/management.py
  xknx/management/procedures/network/nm_individual_address_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_read.py
Due: mypy, pylint-xknx

docs: condense the changelog entry
  docs/changelog.md
Due: none

Refactor CEMILData.flags into a typed CEMIFlags dataclass (#1884)
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/cemi_tests/flags_test.py
  test/knxip_tests/routing_indication_test.py
  test/secure_tests/data_secure_test.py
  test/str_test.py
  xknx/cemi/__init__.py
  xknx/cemi/cemi_frame.py
  xknx/cemi/const.py
  xknx/cemi/flags.py
  xknx/secure/data_secure.py
  xknx/secure/data_secure_asdu.py
Due: mypy, pylint-xknx, pylint-test

feat!: make value_type a required argument
  docs/changelog.md
  docs/numeric_value.md
  docs/sensor.md
  test/devices_tests/expose_sensor_test.py
  test/devices_tests/notification_test.py
  test/devices_tests/numeric_value_test.py
  test/devices_tests/sensor_test.py
  test/remote_value_tests/remote_value_sensor_test.py
  test/remote_value_tests/remote_value_string_test.py
  xknx/devices/expose_sensor.py
  xknx/devices/light.py
  xknx/devices/notification.py
  xknx/devices/numeric_value.py
  xknx/devices/sensor.py
  xknx/remote_value/remote_value_sensor.py
Due: mypy, pylint-xknx, pylint-test

refactor!: remove RemoteValue.__eq__, add __slots__
  docs/changelog.md
  test/remote_value_tests/remote_value_test.py
  test/str_test.py
  xknx/remote_value/remote_value.py
  xknx/remote_value/remote_value_by_length.py
  xknx/remote_value/remote_value_climate_mode.py
  xknx/remote_value/remote_value_color_rgb.py
  xknx/remote_value/remote_value_color_rgbw.py
  xknx/remote_value/remote_value_color_xyy.py
  xknx/remote_value/remote_value_datetime.py
  xknx/remote_value/remote_value_dpt_value_1_ucount.py
  xknx/remote_value/remote_value_raw.py
  xknx/remote_value/remote_value_scaling.py
  xknx/remote_value/remote_value_scene_number.py
  xknx/remote_value/remote_value_sensor.py
  xknx/remote_value/remote_value_setpoint_shift.py
  xknx/remote_value/remote_value_step.py
  xknx/remote_value/remote_value_switch.py
  xknx/remote_value/remote_value_temp.py
  xknx/remote_value/remote_value_updown.py
Due: mypy, pylint-xknx, pylint-test

refactor!: remove RemoteValue.__eq__, add __slots__ (#1921)
  docs/changelog.md
  test/remote_value_tests/remote_value_test.py
  test/str_test.py
  xknx/remote_value/remote_value.py
  xknx/remote_value/remote_value_by_length.py
  xknx/remote_value/remote_value_climate_mode.py
  xknx/remote_value/remote_value_color_rgb.py
  xknx/remote_value/remote_value_color_rgbw.py
  xknx/remote_value/remote_value_color_xyy.py
  xknx/remote_value/remote_value_datetime.py
  xknx/remote_value/remote_value_dpt_value_1_ucount.py
  xknx/remote_value/remote_value_raw.py
  xknx/remote_value/remote_value_scaling.py
  xknx/remote_value/remote_value_scene_number.py
  xknx/remote_value/remote_value_sensor.py
  xknx/remote_value/remote_value_setpoint_shift.py
  xknx/remote_value/remote_value_step.py
  xknx/remote_value/remote_value_switch.py
  xknx/remote_value/remote_value_temp.py
  xknx/remote_value/remote_value_updown.py
Due: mypy, pylint-xknx, pylint-test

feat!: remove device lookup by name or number
  docs/changelog.md
  docs/switch.md
  docs/time.md
  docs/xknx.md
  examples/example_devices.py
  test/devices_tests/devices_test.py
  xknx/devices/device.py
  xknx/devices/devices.py
Due: mypy, pylint-xknx, pylint-test

refactor!: remove Device.__eq__
  docs/changelog.md
  test/devices_tests/devices_test.py
  xknx/devices/device.py
  xknx/devices/devices.py
  xknx/devices/light.py
Due: mypy, pylint-xknx, pylint-test

Remove device lookup by name or number (#1919)
  docs/changelog.md
  docs/switch.md
  docs/time.md
  docs/xknx.md
  examples/example_devices.py
  test/devices_tests/devices_test.py
  xknx/devices/device.py
  xknx/devices/devices.py
  xknx/devices/light.py
Due: mypy, pylint-xknx, pylint-test

perf: index devices by group address
  docs/changelog.md
  docs/xknx.md
  test/devices_tests/devices_test.py
  xknx/devices/devices.py
Due: mypy, pylint-xknx, pylint-test

Index devices by group address (#1922)
  docs/changelog.md
  docs/xknx.md
  test/devices_tests/devices_test.py
  xknx/devices/devices.py
Due: mypy, pylint-xknx, pylint-test

feat: support scene learning in Scene, sending and receiving
  docs/changelog.md
  examples/example_scene.py
  examples/readme.md
  test/devices_tests/scene_test.py
  test/remote_value_tests/remote_value_scene_control_test.py
  xknx/devices/scene.py
  xknx/remote_value/__init__.py
  xknx/remote_value/remote_value_scene_control.py
Due: mypy, pylint-xknx, pylint-test

Add Scene.learn() and move Scene to DPT 18.001 (#1905)
  docs/changelog.md
  examples/example_scene.py
  examples/readme.md
  test/devices_tests/scene_test.py
  test/remote_value_tests/remote_value_scene_control_test.py
  xknx/devices/scene.py
  xknx/remote_value/__init__.py
  xknx/remote_value/remote_value_scene_control.py
Due: mypy, pylint-xknx, pylint-test

Manage dependencies with uv and run hooks with prek (#1914)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/pre-commit-update.yml
  .gitignore
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  docs/changelog.md
  pyproject.toml
  requirements/production.txt
  requirements/testing.txt
  script/run-in-env.sh
  tox.ini
  uv.lock
Due: none

Encapsulate broadcast communication in a Broadcast class
  docs/changelog.md
  test/management_tests/management_test.py
  xknx/management/management.py
  xknx/management/procedures/network/nm_individual_address_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_write.py
  xknx/management/procedures/network/nm_individual_address_write.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

Let broadcast requests carry the response type they expect
  docs/changelog.md
  test/management_tests/management_test.py
  xknx/io/routing.py
  xknx/management/management.py
  xknx/management/procedures/network/nm_individual_address_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_read.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

Keep the broadcast receive timeout from outliving the iteration
  docs/changelog.md
  test/management_tests/management_test.py
  xknx/management/management.py
Due: mypy, pylint-xknx, pylint-test

Say what Broadcast.request() and BroadcastContext actually do
  xknx/management/management.py
Due: mypy, pylint-xknx

Carry the expected response type through broadcast requests (#1916)
  docs/changelog.md
  test/management_tests/management_test.py
  xknx/io/routing.py
  xknx/management/management.py
  xknx/management/procedures/network/nm_individual_address_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_write.py
  xknx/management/procedures/network/nm_individual_address_write.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

Fix the misspelled management timeout constants
  docs/changelog.md
  test/management_tests/management_test.py
  test/management_tests/procedures/network/test_nm_individual_address_write.py
  xknx/management/management.py
Due: mypy, pylint-xknx, pylint-test

Name the default management connection rate limit
  xknx/management/management.py
Due: mypy, pylint-xknx

Fix the misspelled management constants and name the rate limit default (#1924)
  docs/changelog.md
  test/management_tests/management_test.py
  test/management_tests/procedures/network/test_nm_individual_address_write.py
  xknx/management/management.py
Due: mypy, pylint-xknx, pylint-test

Acknowledge connected telegrams only on connections that exist
  docs/changelog.md
  test/management_tests/management_test.py
  xknx/management/management.py
Due: mypy, pylint-xknx, pylint-test

Hand only point-to-point telegrams to a point-to-point connection
  docs/changelog.md
  test/management_tests/management_test.py
  xknx/management/management.py
Due: mypy, pylint-xknx, pylint-test

Warn about connection telegrams where they are recognized
  xknx/management/management.py
Due: mypy, pylint-xknx

Acknowledge connected telegrams only on connections that exist (#1925)
  docs/changelog.md
  test/management_tests/management_test.py
  xknx/management/management.py
Due: mypy, pylint-xknx, pylint-test

Make Device name optional and pass changes down to RemoteValues
  docs/changelog.md
  docs/devices.md
  docs/raw_value.md
  test/devices_tests/climate_test.py
  test/devices_tests/device_test.py
  test/devices_tests/expose_sensor_test.py
  test/devices_tests/light_test.py
  test/devices_tests/numeric_value_test.py
  test/devices_tests/raw_value_test.py
  test/devices_tests/sensor_test.py
  test/str_test.py
  xknx/devices/binary_sensor.py
  xknx/devices/climate.py
  xknx/devices/climate_mode.py
  xknx/devices/cover.py
  xknx/devices/datetime.py
  xknx/devices/device.py
  xknx/devices/expose_sensor.py
  xknx/devices/fan.py
  xknx/devices/light.py
  xknx/devices/notification.py
  xknx/devices/numeric_value.py
  xknx/devices/raw_value.py
  xknx/devices/scene.py
  xknx/devices/sensor.py
  xknx/devices/switch.py
  xknx/devices/weather.py
Due: mypy, pylint-xknx, pylint-test

Publish to PyPI with trusted publishing
  .github/workflows/pythonpublish.yml
  docs/changelog.md
Due: none

Publish to PyPI with trusted publishing (#1915)
  .github/workflows/pythonpublish.yml
  docs/changelog.md
Due: none

Default device name to the class name only
  docs/changelog.md
  docs/devices.md
  test/devices_tests/expose_sensor_test.py
  test/devices_tests/numeric_value_test.py
  test/devices_tests/sensor_test.py
  test/str_test.py
  xknx/devices/expose_sensor.py
  xknx/devices/numeric_value.py
  xknx/devices/sensor.py
Due: mypy, pylint-xknx, pylint-test

Inline the default device name into the name property
  xknx/devices/device.py
Due: mypy, pylint-xknx

ExposeSensor: include the value type in the default name
  docs/changelog.md
  docs/devices.md
  test/devices_tests/expose_sensor_test.py
  xknx/devices/expose_sensor.py
Due: mypy, pylint-xknx, pylint-test

Sensor and NumericValue: include the value type in the default name
  docs/changelog.md
  docs/devices.md
  test/devices_tests/numeric_value_test.py
  test/devices_tests/sensor_test.py
  test/str_test.py
  xknx/devices/numeric_value.py
  xknx/devices/sensor.py
Due: mypy, pylint-xknx, pylint-test
