Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude_types: [csv, json]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.9.1'
    hooks:
      - id: ruff
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
        files: ^((xknx|test|examples|docs)/.+)?[^/]+\.py$
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=main
      - id: trailing-whitespace
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.7.0
    hooks:
      # Run `pre-commit run --hook-stage manual python-typing-update --all-files` manually
      # from time to time to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py310-plus
          - --force
          - --keep-updates
        files: ^(xknx)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^xknx/.+\.py$

  - repo: local
    hooks:
    - id: pylint-xknx
      name: pylint-xknx
      entry: pylint xknx examples
      language: python
      types: [python]
      pass_filenames: true
      files: ^(xknx/|examples/)

    - id: pylint-test
      name: pylint-test
      entry: pylint --disable=protected-access,abstract-class-instantiated
      language: python
      types: [python]
      pass_filenames: true
      files: ^test/

require_serial: true
  .pre-commit-config.yaml
Due: none

Add some pylint rules, disable `no-member`
  pyproject.toml
Due: none

Add pre-commit hook for pylint (#1630)
  .pre-commit-config.yaml
  examples/example_telegram_monitor.py
  pyproject.toml
  test/cemi_tests/__init__.py
  test/core_tests/__init__.py
  test/core_tests/task_registry_test.py
  test/devices_tests/__init__.py
  test/devices_tests/devices_test.py
  test/dpt_tests/__init__.py
  test/dpt_tests/dpt_lookup_test.py
  test/dpt_tests/dpt_test.py
  test/dpt_tests/payload_test.py
  test/io_tests/__init__.py
  test/io_tests/request_response_tests/__init__.py
  test/io_tests/transport_tests/__init__.py
  test/io_tests/tunnel_test.py
  test/knxip_tests/__init__.py
  test/knxip_tests/knxip_test.py
  test/knxip_tests/session_authenticate_test.py
  test/management_tests/__init__.py
  test/management_tests/management_test.py
  test/management_tests/procedures_test.py
  test/remote_value_tests/__init__.py
  test/remote_value_tests/remote_value_by_length_test.py
  test/remote_value_tests/remote_value_test.py
  test/secure_tests/__init__.py
  test/secure_tests/data_secure_test.py
  test/telegram_tests/__init__.py
  test/tools_tests/__init__.py
  tox.ini
Due: pylint-xknx, pylint-test

Update devices_tests
  test/devices_tests/binary_sensor_test.py
  test/devices_tests/climate_test.py
  test/devices_tests/cover_test.py
  test/devices_tests/datetime_test.py
  test/devices_tests/device_test.py
  test/devices_tests/devices_test.py
  test/devices_tests/expose_sensor_test.py
  test/devices_tests/fan_test.py
  test/devices_tests/light_test.py
  test/devices_tests/notification_test.py
  test/devices_tests/numeric_value_test.py
  test/devices_tests/raw_value_test.py
  test/devices_tests/scene_test.py
  test/devices_tests/sensor_expose_loop_test.py
  test/devices_tests/sensor_test.py
  test/devices_tests/switch_test.py
  test/devices_tests/travelcalculator_test.py
  test/devices_tests/weather_test.py
Due: pylint-test

Update remote_value_tests
  test/remote_value_tests/remote_value_climate_mode_test.py
  test/remote_value_tests/remote_value_color_rgb_test.py
  test/remote_value_tests/remote_value_color_rgbw_test.py
  test/remote_value_tests/remote_value_color_xyy_test.py
  test/remote_value_tests/remote_value_datetime_test.py
  test/remote_value_tests/remote_value_dpt_value_1_ucount_test.py
  test/remote_value_tests/remote_value_raw_test.py
  test/remote_value_tests/remote_value_scaling_test.py
  test/remote_value_tests/remote_value_scene_number_test.py
  test/remote_value_tests/remote_value_sensor_test.py
  test/remote_value_tests/remote_value_setepoint_shift_test.py
  test/remote_value_tests/remote_value_step_test.py
  test/remote_value_tests/remote_value_string_test.py
  test/remote_value_tests/remote_value_switch_test.py
  test/remote_value_tests/remote_value_temp_test.py
  test/remote_value_tests/remote_value_test.py
  test/remote_value_tests/remote_value_updown_test.py
Due: pylint-test

Update management_tests
  test/management_tests/management_test.py
  test/management_tests/procedures_test.py
Due: pylint-test

Update io_tests
  test/io_tests/connection_test.py
  test/io_tests/gateway_scanner_test.py
  test/io_tests/knxip_interface_test.py
  test/io_tests/request_response_tests/authenticate_test.py
  test/io_tests/request_response_tests/connect_test.py
  test/io_tests/request_response_tests/connectionstate_test.py
  test/io_tests/request_response_tests/device_configuration_test.py
  test/io_tests/request_response_tests/disconnect_test.py
  test/io_tests/request_response_tests/request_response_test.py
  test/io_tests/request_response_tests/session_test.py
  test/io_tests/request_response_tests/tunnelling_test.py
  test/io_tests/routing_test.py
  test/io_tests/secure_group_test.py
  test/io_tests/secure_session_test.py
  test/io_tests/self_description_test.py
  test/io_tests/transport_tests/ip_transport_test.py
  test/io_tests/tunnel_test.py
Due: pylint-test

Update knxip_tests
  test/knxip_tests/body_test.py
  test/knxip_tests/connect_request_test.py
  test/knxip_tests/connect_response_test.py
  test/knxip_tests/connectionstate_request_test.py
  test/knxip_tests/connectionstate_response_test.py
  test/knxip_tests/description_request_test.py
  test/knxip_tests/description_response_test.py
  test/knxip_tests/device_configuration_ack_test.py
  test/knxip_tests/device_configuration_request_test.py
  test/knxip_tests/dib_test.py
  test/knxip_tests/disconnect_request_test.py
  test/knxip_tests/disconnect_response_test.py
  test/knxip_tests/header_test.py
  test/knxip_tests/hpai_test.py
  test/knxip_tests/knxip_test.py
  test/knxip_tests/routing_busy_test.py
  test/knxip_tests/routing_indication_test.py
  test/knxip_tests/routing_lost_message_test.py
  test/knxip_tests/search_request_extended_test.py
  test/knxip_tests/search_request_test.py
  test/knxip_tests/search_response_extended_test.py
  test/knxip_tests/search_response_test.py
  test/knxip_tests/secure_wrapper_test.py
  test/knxip_tests/session_authenticate_test.py
  test/knxip_tests/session_request_test.py
  test/knxip_tests/session_response_test.py
  test/knxip_tests/session_status_test.py
  test/knxip_tests/srp_test.py
  test/knxip_tests/timer_notify_test.py
  test/knxip_tests/tunnelling_ack_test.py
  test/knxip_tests/tunnelling_feature_test.py
  test/knxip_tests/tunnelling_request_test.py
Due: pylint-test

Update dpt_tests
  test/dpt_tests/dpt_10_time_test.py
  test/dpt_tests/dpt_11_date_test.py
  test/dpt_tests/dpt_12_test.py
  test/dpt_tests/dpt_14_float_test.py
  test/dpt_tests/dpt_16_string_test.py
  test/dpt_tests/dpt_17_scene_number_test.py
  test/dpt_tests/dpt_18_scene_control_test.py
  test/dpt_tests/dpt_19_datetime_test.py
  test/dpt_tests/dpt_1_test.py
  test/dpt_tests/dpt_20_hvac_mode_test.py
  test/dpt_tests/dpt_235_tariff_active_energy_test.py
  test/dpt_tests/dpt_29_test.py
  test/dpt_tests/dpt_3_test.py
  test/dpt_tests/dpt_5_test.py
  test/dpt_tests/dpt_6_test.py
  test/dpt_tests/dpt_7_test.py
  test/dpt_tests/dpt_8_test.py
  test/dpt_tests/dpt_9_float_test.py
  test/dpt_tests/dpt_color_test.py
  test/dpt_tests/dpt_lookup_test.py
  test/dpt_tests/dpt_test.py
  test/dpt_tests/payload_test.py
Due: pylint-test

Update cemi_tests
  test/cemi_tests/cemi_frame_test.py
  test/cemi_tests/cemi_handler_test.py
Due: pylint-test

Update core_tests
  test/core_tests/connection_manager_test.py
  test/core_tests/exceptions_test.py
  test/core_tests/group_address_dpt_test.py
  test/core_tests/state_updater_test.py
  test/core_tests/task_registry_test.py
  test/core_tests/telegram_queue_test.py
  test/core_tests/value_reader_test.py
Due: pylint-test

Update conftest.py
  test/conftest.py
Due: pylint-test

Update secure_tests
  test/secure_tests/data_secure_test.py
  test/secure_tests/ip_secure_test.py
  test/secure_tests/keyring_test.py
  test/secure_tests/util_test.py
Due: pylint-test

Update example_powermeter_mqtt.py
  examples/example_powermeter_mqtt.py
Due: pylint-xknx

Update knxip_interface_test.py
  test/io_tests/knxip_interface_test.py
Due: pylint-test

Update xknx_test.py
  test/xknx_test.py
Due: pylint-test

Update example_telegram_monitor.py
  examples/example_telegram_monitor.py
Due: pylint-xknx

Add some ruff rules
  pyproject.toml
Due: none

Update str_test.py
  test/str_test.py
Due: pylint-test

Update telegram_tests
  test/telegram_tests/address_filter_test.py
  test/telegram_tests/address_test.py
  test/telegram_tests/apci_test.py
  test/telegram_tests/telegram_test.py
  test/telegram_tests/tpci_test.py
Due: pylint-test

Update tools_test.py
  test/tools_tests/tools_test.py
Due: pylint-test

fix typo in import
  test/core_tests/state_updater_test.py
Due: pylint-test

Disable some unreliable pylint rule
  pyproject.toml
Due: none

Fix CI runner for Python 3.11
  tox.ini
Due: none

Fix CI runner for Python 3.11 (#1654)
  tox.ini
Due: none

Better dpt subclass tests
  test/dpt_tests/dpt_test.py
Due: pylint-test

Fix order of class_tree
  xknx/dpt/dpt.py
Due: mypy, pylint-xknx

Add `DPTBase.dpt_number_str` and `DPTBase.dpt_name` classmethods
  xknx/dpt/dpt.py
Due: mypy, pylint-xknx

Use `dpt_name` in exceptions
  xknx/dpt/dpt.py
  xknx/dpt/dpt_10.py
  xknx/dpt/dpt_11.py
  xknx/dpt/dpt_14.py
  xknx/dpt/dpt_16.py
  xknx/dpt/dpt_17.py
  xknx/dpt/dpt_19.py
  xknx/dpt/dpt_5.py
  xknx/dpt/dpt_6.py
  xknx/dpt/dpt_7.py
  xknx/dpt/dpt_8.py
  xknx/dpt/dpt_9.py
Due: mypy, pylint-xknx

Add tests
  test/dpt_tests/dpt_test.py
Due: pylint-test

Update changelog.md
  docs/changelog.md
Due: none

Use in telegram, remote_value and group_address_dpt
  xknx/core/group_address_dpt.py
  xknx/remote_value/remote_value_sensor.py
  xknx/telegram/telegram.py
Due: mypy, pylint-xknx

Change log-level of group_address_dpt for decoding errors
  test/core_tests/group_address_dpt_test.py
  xknx/core/group_address_dpt.py
Due: mypy, pylint-xknx, pylint-test

Add `DPTBase.dpt_number_str` and `DPTBase.dpt_name` classmethods (#1655)
  docs/changelog.md
  test/core_tests/group_address_dpt_test.py
  test/dpt_tests/dpt_test.py
  xknx/core/group_address_dpt.py
  xknx/dpt/dpt.py
  xknx/dpt/dpt_10.py
  xknx/dpt/dpt_11.py
  xknx/dpt/dpt_14.py
  xknx/dpt/dpt_16.py
  xknx/dpt/dpt_17.py
  xknx/dpt/dpt_19.py
  xknx/dpt/dpt_5.py
  xknx/dpt/dpt_6.py
  xknx/dpt/dpt_7.py
  xknx/dpt/dpt_8.py
  xknx/dpt/dpt_9.py
  xknx/remote_value/remote_value_sensor.py
  xknx/telegram/telegram.py
Due: mypy, pylint-xknx, pylint-test

Change dependabot to monthly
  .github/dependabot.yml
Due: none

Allow old modules with builtins-module names
  pyproject.toml
Due: none

add tests
  test/dpt_tests/dpt_test.py
Due: pylint-test

Specify device value_type
  xknx/devices/notification.py
  xknx/devices/numeric_value.py
Due: mypy, pylint-xknx
