Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint-xknx:
  name: pylint-xknx
  entry: pylint xknx examples
  language: python
  pass_filenames: true

pylint-test:
  name: pylint-test
  entry: pylint --disable=protected-access,abstract-class-instantiated
  language: python
  pass_filenames: true

Raise dedicated exception on DataSecure sequence number overflow (#1855)
  test/secure_tests/data_secure_test.py
  xknx/secure/data_secure.py
Due: mypy, pylint-xknx, pylint-test

Validate control
  test/dpt_tests/dpt_2_test.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt_2.py
Due: mypy, pylint-xknx, pylint-test

Add DPT 2 definitions (#1854)
  docs/changelog.md
  test/dpt_tests/dpt_2_test.py
  test/dpt_tests/dpt_lookup_test.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt_2.py
Due: mypy, pylint-xknx, pylint-test

update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add A_SystemNetworkParameter_Read APCI service
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

Add A_SystemNetworkParameter_Response APCI service
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

Add changelog entry for A_SystemNetworkParameter_Read/Response
  docs/changelog.md
Due: none

Add tests for A_SystemNetworkParameter_Read/Response length validation
  test/telegram_tests/apci_test.py
Due: pylint-test

Fix A_SystemNetworkParameter_Read/Response ASDU layout per §3.3.8
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

Add explicit decode-then-encode round-trip tests
  test/telegram_tests/apci_test.py
Due: pylint-test

feat: A_SystemNetworkParameter_Read & A_SystemNetworkParameter_Response (#1857)
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: A_SystemNetworkParameter_Write
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

docs: mention A_SystemNetworkParameter_Write in changelog
  docs/changelog.md
Due: none

feat: A_SystemNetworkParameter_Write (#1858)
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: A_FunctionPropertyExtState_Read
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: A_FunctionPropertyExtCommand
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: A_FunctionPropertyExtState_Response
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/management/application_layer_enum.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

refactor!: move ReturnCode into xknx.telegram.apci
  docs/changelog.md
  test/knxip_tests/tunnelling_feature_test.py
  test/telegram_tests/apci_test.py
  xknx/knxip/tunnelling_feature.py
  xknx/management/application_layer_enum.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

fix: unknown ReturnCode raises ConversionError instead of bare ValueError
  test/knxip_tests/tunnelling_feature_test.py
  test/telegram_tests/apci_test.py
  xknx/knxip/tunnelling_feature.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: add `A_FunctionPropertyExt*` (#1859)
  docs/changelog.md
  test/knxip_tests/tunnelling_feature_test.py
  test/telegram_tests/apci_test.py
  xknx/knxip/tunnelling_feature.py
  xknx/management/application_layer_enum.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

Add light transition and relative control DPTs
  docs/changelog.md
  test/dpt_tests/dpt_color_transition_test.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt.py
  xknx/dpt/dpt_243.py
  xknx/dpt/dpt_249.py
  xknx/dpt/dpt_250.py
  xknx/dpt/dpt_252.py
  xknx/dpt/dpt_253.py
  xknx/dpt/dpt_254.py
  xknx/dpt/dpt_3.py
Due: mypy, pylint-xknx, pylint-test

fix: A_Restart Master Reset serialization
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

fix: raise ConversionError for out-of-range Restart fields, align length-error format
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

Simplify and consolidate
  xknx/dpt/__init__.py
  xknx/dpt/dpt.py
  xknx/dpt/dpt_232.py
  xknx/dpt/dpt_235.py
  xknx/dpt/dpt_242.py
  xknx/dpt/dpt_243.py
  xknx/dpt/dpt_249.py
  xknx/dpt/dpt_250.py
  xknx/dpt/dpt_251.py
  xknx/dpt/dpt_252.py
  xknx/dpt/dpt_253.py
  xknx/dpt/dpt_254.py
  xknx/dpt/dpt_3.py
  xknx/dpt/helpers/__init__.py
  xknx/dpt/helpers/metadata.py
  xknx/dpt/helpers/relative_control.py
Due: mypy, pylint-xknx

fix: A_Restart Master Reset serialization (#1860)
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

Update dpt_color_transition_test.py
  test/dpt_tests/dpt_color_transition_test.py
Due: pylint-test

feat: recognize A_PropertyExt* APCI services (parsing TBD)
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_PropertyExtValue_Read/Response APCI parsing
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_PropertyExtValue_WriteCon/WriteConRes APCI parsing
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_PropertyExtValue_WriteUnCon APCI parsing
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_PropertyExtValue_InfoReport APCI parsing
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_PropertyExtDescription_Read APCI parsing
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat: implement A_PropertyExtDescription_Response APCI parsing
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

Add light transition and relative control DPTs (#1861)
  docs/changelog.md
  test/dpt_tests/dpt_color_transition_test.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt.py
  xknx/dpt/dpt_232.py
  xknx/dpt/dpt_235.py
  xknx/dpt/dpt_243.py
  xknx/dpt/dpt_249.py
  xknx/dpt/dpt_250.py
  xknx/dpt/dpt_251.py
  xknx/dpt/dpt_252.py
  xknx/dpt/dpt_253.py
  xknx/dpt/dpt_254.py
  xknx/dpt/dpt_3.py
  xknx/dpt/helpers/__init__.py
  xknx/dpt/helpers/metadata.py
  xknx/dpt/helpers/relative_control.py
Due: mypy, pylint-xknx, pylint-test

Add generic DPT 1
  docs/changelog.md
  test/dpt_tests/dpt_1_test.py
  test/remote_value_tests/remote_value_sensor_test.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt_1.py
Due: mypy, pylint-xknx, pylint-test

generic DPT2
  docs/changelog.md
  test/dpt_tests/dpt_2_test.py
  test/remote_value_tests/remote_value_sensor_test.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt_2.py
Due: mypy, pylint-xknx, pylint-test

fix: correct calculated_length off-by-one in PropertyExt* APCI classes
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

Add generic DPT 1 and DPT 2 transcoders (#1863)
  docs/changelog.md
  test/dpt_tests/dpt_1_test.py
  test/dpt_tests/dpt_2_test.py
  test/remote_value_tests/remote_value_sensor_test.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt_1.py
  xknx/dpt/dpt_2.py
Due: mypy, pylint-xknx, pylint-test

feat: add A_PropertyExtValue* (#1862)
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

test: add calculated_length()==len(to_knx())-1 regression check file-wide
  test/telegram_tests/apci_test.py
Due: pylint-test

Path conditions:
  mypy: any of: ^xknx/.+\.py$ and \.py$
  pylint-xknx: any of: ^(xknx/|examples/) and \.py$
  pylint-test: any of: ^test/ and \.py$
