Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude_types: [csv, json]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.9.1'
    hooks:
      - id: ruff
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
        files: ^((xknx|test|examples|docs)/.+)?[^/]+\.py$
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=main
      - id: trailing-whitespace
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.7.0
    hooks:
      # Run `pre-commit run --hook-stage manual python-typing-update --all-files` manually
      # from time to time to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py310-plus
          - --force
          - --keep-updates
        files: ^(xknx)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^xknx/.+\.py$

  - repo: local
    hooks:
    - id: pylint-xknx
      name: pylint-xknx
      entry: pylint xknx examples
      language: python
      types: [python]
      pass_filenames: true
      files: ^(xknx/|examples/)

    - id: pylint-test
      name: pylint-test
      entry: pylint --disable=protected-access,abstract-class-instantiated
      language: python
      types: [python]
      pass_filenames: true
      files: ^test/

typo
  test/telegram_tests/address_test.py
  xknx/telegram/address.py
Due: mypy, pylint-xknx, pylint-test

total ordering
  docs/changelog.md
  test/telegram_tests/address_test.py
  xknx/telegram/address.py
Due: mypy, pylint-xknx, pylint-test

Add sorting support for address classes (#1771)
  docs/changelog.md
  test/telegram_tests/address_test.py
  xknx/telegram/address.py
Due: mypy, pylint-xknx, pylint-test

Release 3.12.0
  docs/changelog.md
  xknx/__version__.py
Due: mypy, pylint-xknx

Use new pytest config key in pyproject.toml
  pyproject.toml
Due: none

Add numeric DPTs for metering purposes
  xknx/dpt/__init__.py
  xknx/dpt/dpt_13.py
  xknx/dpt/dpt_14.py
Due: mypy, pylint-xknx

Update changelog.md
  docs/changelog.md
Due: none

tests
  test/dpt_tests/dpt_lookup_test.py
Due: pylint-test

Add numeric DPTs for metering purposes (#1772)
  docs/changelog.md
  test/dpt_tests/dpt_lookup_test.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt_13.py
  xknx/dpt/dpt_14.py
Due: mypy, pylint-xknx, pylint-test

update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix Fan turn_on default speed when step-mode is used
  docs/changelog.md
  test/devices_tests/fan_test.py
  xknx/devices/fan.py
Due: mypy, pylint-xknx, pylint-test

Fix Fan turn_on default speed when step-mode is used (#1775)
  docs/changelog.md
  test/devices_tests/fan_test.py
  xknx/devices/fan.py
Due: mypy, pylint-xknx, pylint-test

Release 3.13.0
  docs/changelog.md
  xknx/__version__.py
Due: mypy, pylint-xknx

Fix failing tests for Python 3.10
  test/cemi_tests/cemi_handler_test.py
  test/core_tests/telegram_queue_test.py
Due: pylint-test

Use more slots in core classes
  xknx/core/connection_manager.py
  xknx/core/state_updater.py
  xknx/core/task_registry.py
  xknx/core/telegram_queue.py
  xknx/core/value_reader.py
Due: mypy, pylint-xknx

Use more slots in transport classes
  test/io_tests/secure_group_test.py
  xknx/io/ip_secure.py
  xknx/io/transport/ip_transport.py
  xknx/io/transport/tcp_transport.py
  xknx/io/transport/udp_transport.py
Due: mypy, pylint-xknx, pylint-test

Use slots for devices manager class
  xknx/devices/devices.py
Due: mypy, pylint-xknx

Use slots for management classes
  xknx/management/management.py
Due: mypy, pylint-xknx

Use slots for routing
  xknx/io/interface.py
  xknx/io/routing.py
Due: mypy, pylint-xknx

Use slots in xknx
  xknx/xknx.py
Due: mypy, pylint-xknx

Use slots in CEMIHandler
  test/cemi_tests/cemi_handler_test.py
  test/core_tests/telegram_queue_test.py
  test/secure_tests/data_secure_test.py
  xknx/cemi/cemi_handler.py
Due: mypy, pylint-xknx, pylint-test

Use more slots for transport base-classes
  test/conftest.py
  test/io_tests/secure_group_test.py
  test/io_tests/secure_session_test.py
  test/io_tests/self_description_test.py
  test/io_tests/tunnel_test.py
  xknx/io/ip_secure.py
  xknx/io/transport/ip_transport.py
  xknx/io/transport/tcp_transport.py
  xknx/io/transport/udp_transport.py
Due: mypy, pylint-xknx, pylint-test

fix typo
  xknx/io/ip_secure.py
Due: mypy, pylint-xknx

Use slots for KNXIPInterface
  xknx/io/knxip_interface.py
Due: mypy, pylint-xknx

Use slots for interface classes
  pyproject.toml
  test/io_tests/tunnel_test.py
  xknx/io/interface.py
  xknx/io/routing.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx, pylint-test

Update pyproject.toml
  pyproject.toml
Due: none

Use more `__slots__` in various classes (#1776)
  docs/changelog.md
  pyproject.toml
  test/cemi_tests/cemi_handler_test.py
  test/conftest.py
  test/core_tests/telegram_queue_test.py
  test/io_tests/secure_group_test.py
  test/io_tests/secure_session_test.py
  test/io_tests/self_description_test.py
  test/io_tests/tunnel_test.py
  test/secure_tests/data_secure_test.py
  xknx/cemi/cemi_handler.py
  xknx/core/connection_manager.py
  xknx/core/state_updater.py
  xknx/core/task_registry.py
  xknx/core/telegram_queue.py
  xknx/core/value_reader.py
  xknx/devices/devices.py
  xknx/io/interface.py
  xknx/io/ip_secure.py
  xknx/io/knxip_interface.py
  xknx/io/routing.py
  xknx/io/transport/ip_transport.py
  xknx/io/transport/tcp_transport.py
  xknx/io/transport/udp_transport.py
  xknx/io/tunnel.py
  xknx/management/management.py
  xknx/xknx.py
Due: mypy, pylint-xknx, pylint-test

Don't raise for unsuccessful tunnel disconnects
  docs/changelog.md
  xknx/io/tunnel.py
Due: mypy, pylint-xknx

Update xknx/io/tunnel.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx

shorten
  xknx/io/tunnel.py
Due: mypy, pylint-xknx

Don't raise for unsuccessful tunnel disconnects (#1785)
  docs/changelog.md
  xknx/io/tunnel.py
Due: mypy, pylint-xknx

Add ExposeSensor option to not send same payload sequentially
  docs/changelog.md
  test/devices_tests/expose_sensor_test.py
  test/remote_value_tests/remote_value_test.py
  xknx/devices/expose_sensor.py
  xknx/remote_value/remote_value.py
Due: mypy, pylint-xknx, pylint-test

cleanup
  xknx/devices/expose_sensor.py
  xknx/remote_value/remote_value.py
Due: mypy, pylint-xknx

Add ExposeSensor option to skip sending same payload sequentially (#1786)
  docs/changelog.md
  test/devices_tests/expose_sensor_test.py
  test/remote_value_tests/remote_value_test.py
  xknx/devices/expose_sensor.py
  xknx/remote_value/remote_value.py
Due: mypy, pylint-xknx, pylint-test

ExposeSensor: Add option to send periodically
  docs/changelog.md
  test/devices_tests/expose_sensor_test.py
  xknx/devices/expose_sensor.py
Due: mypy, pylint-xknx, pylint-test

docstring
  xknx/devices/expose_sensor.py
Due: mypy, pylint-xknx

ExposeSensor: Add option to send periodically (#1787)
  docs/changelog.md
  test/devices_tests/expose_sensor_test.py
  xknx/devices/expose_sensor.py
Due: mypy, pylint-xknx, pylint-test

Release 3.14.0
  docs/changelog.md
  xknx/__version__.py
Due: mypy, pylint-xknx
