Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude_types: [csv, json]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.9.1'
    hooks:
      - id: ruff
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
        files: ^((xknx|test|examples|docs)/.+)?[^/]+\.py$
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=main
      - id: trailing-whitespace
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.7.0
    hooks:
      # Run `pre-commit run --hook-stage manual python-typing-update --all-files` manually
      # from time to time to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py310-plus
          - --force
          - --keep-updates
        files: ^(xknx)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^xknx/.+\.py$

  - repo: local
    hooks:
    - id: pylint-xknx
      name: pylint-xknx
      entry: pylint xknx examples
      language: python
      types: [python]
      pass_filenames: true
      files: ^(xknx/|examples/)

    - id: pylint-test
      name: pylint-test
      entry: pylint --disable=protected-access,abstract-class-instantiated
      language: python
      types: [python]
      pass_filenames: true
      files: ^test/

fix(management): address correctness/robustness review of interface object procedures
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_scan_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

fix(management): reject start_index=0 in read_r/verify_r
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
Due: mypy, pylint-xknx, pylint-test

feat!: remove export with spelling mistake
  xknx/management/procedures/__init__.py
Due: mypy, pylint-xknx

fix(management): bound interface object read/write/verify chunk size by max APDU length
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/device/const.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

fix(management): probe element size before chunking interface object reads
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
Due: mypy, pylint-xknx, pylint-test

fix(management): reject start_index + count - 1 overflowing 4095 upfront
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

Discard unencrypted frames on KNX IP Secure transports
  AGENTS.md
  docs/changelog.md
  test/io_tests/secure_group_test.py
  test/io_tests/secure_session_test.py
  xknx/io/ip_secure.py
Due: mypy, pylint-xknx, pylint-test

feat(management): support the start_index=0 element-count query in read_r
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
Due: mypy, pylint-xknx, pylint-test

reveiw - make handle_knxipframe more clear
  xknx/io/ip_secure.py
Due: mypy, pylint-xknx

Discard unencrypted frames on KNX IP Secure transports (#1911)
  AGENTS.md
  docs/changelog.md
  test/io_tests/secure_group_test.py
  test/io_tests/secure_session_test.py
  xknx/io/ip_secure.py
Due: mypy, pylint-xknx, pylint-test

Keep the awaited response instead of a success flag and a hook
  docs/changelog.md
  test/io_tests/request_response_tests/authenticate_test.py
  test/io_tests/request_response_tests/connect_test.py
  test/io_tests/request_response_tests/connectionstate_test.py
  test/io_tests/request_response_tests/device_configuration_test.py
  test/io_tests/request_response_tests/disconnect_test.py
  test/io_tests/request_response_tests/session_test.py
  test/io_tests/request_response_tests/tunnelling_test.py
  xknx/io/device_management_connection.py
  xknx/io/request_response/authenticate.py
  xknx/io/request_response/connect.py
  xknx/io/request_response/request_response.py
  xknx/io/request_response/session.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx, pylint-test

Make RequestResponse generic over its awaited response body
  docs/changelog.md
  test/io_tests/request_response_tests/authenticate_test.py
  test/io_tests/request_response_tests/connect_test.py
  test/io_tests/request_response_tests/connectionstate_test.py
  test/io_tests/request_response_tests/device_configuration_test.py
  test/io_tests/request_response_tests/disconnect_test.py
  test/io_tests/request_response_tests/request_response_test.py
  test/io_tests/request_response_tests/session_test.py
  test/io_tests/request_response_tests/tunnelling_test.py
  xknx/io/request_response/authenticate.py
  xknx/io/request_response/connect.py
  xknx/io/request_response/connectionstate.py
  xknx/io/request_response/device_configuration.py
  xknx/io/request_response/disconnect.py
  xknx/io/request_response/request_response.py
  xknx/io/request_response/session.py
  xknx/io/request_response/tunnelling.py
Due: mypy, pylint-xknx, pylint-test

Return the response from RequestResponse.request() and raise on failure
  docs/changelog.md
  test/io_tests/request_response_tests/authenticate_test.py
  test/io_tests/request_response_tests/connect_test.py
  test/io_tests/request_response_tests/connectionstate_test.py
  test/io_tests/request_response_tests/device_configuration_test.py
  test/io_tests/request_response_tests/disconnect_test.py
  test/io_tests/request_response_tests/request_response_test.py
  test/io_tests/request_response_tests/session_test.py
  test/io_tests/request_response_tests/tunnelling_test.py
  xknx/exceptions/__init__.py
  xknx/exceptions/exception.py
  xknx/io/device_management_connection.py
  xknx/io/ip_secure.py
  xknx/io/request_response/request_response.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx, pylint-test

Fold the self description queries into RequestResponse
  docs/changelog.md
  test/io_tests/request_response_tests/authenticate_test.py
  test/io_tests/request_response_tests/connect_test.py
  test/io_tests/request_response_tests/connectionstate_test.py
  test/io_tests/request_response_tests/device_configuration_test.py
  test/io_tests/request_response_tests/disconnect_test.py
  test/io_tests/request_response_tests/session_test.py
  test/io_tests/request_response_tests/tunnelling_test.py
  test/io_tests/self_description_test.py
  xknx/io/request_response/request_response.py
  xknx/io/self_description.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx, pylint-test

Shorten the changelog entries for the RequestResponse refactoring
  docs/changelog.md
Due: none

Make the internals of RequestResponse private
  test/io_tests/request_response_tests/authenticate_test.py
  test/io_tests/request_response_tests/connect_test.py
  test/io_tests/request_response_tests/connectionstate_test.py
  test/io_tests/request_response_tests/device_configuration_test.py
  test/io_tests/request_response_tests/disconnect_test.py
  test/io_tests/request_response_tests/request_response_test.py
  test/io_tests/request_response_tests/session_test.py
  test/io_tests/request_response_tests/tunnelling_test.py
  xknx/io/request_response/authenticate.py
  xknx/io/request_response/connect.py
  xknx/io/request_response/connectionstate.py
  xknx/io/request_response/device_configuration.py
  xknx/io/request_response/disconnect.py
  xknx/io/request_response/request_response.py
  xknx/io/request_response/session.py
  xknx/io/request_response/tunnelling.py
  xknx/io/self_description.py
Due: mypy, pylint-xknx, pylint-test

Return the awaited response from RequestResponse and raise on failure (#1910)
  docs/changelog.md
  test/io_tests/request_response_tests/authenticate_test.py
  test/io_tests/request_response_tests/connect_test.py
  test/io_tests/request_response_tests/connectionstate_test.py
  test/io_tests/request_response_tests/device_configuration_test.py
  test/io_tests/request_response_tests/disconnect_test.py
  test/io_tests/request_response_tests/request_response_test.py
  test/io_tests/request_response_tests/session_test.py
  test/io_tests/request_response_tests/tunnelling_test.py
  test/io_tests/self_description_test.py
  xknx/exceptions/__init__.py
  xknx/exceptions/exception.py
  xknx/io/device_management_connection.py
  xknx/io/ip_secure.py
  xknx/io/request_response/authenticate.py
  xknx/io/request_response/connect.py
  xknx/io/request_response/connectionstate.py
  xknx/io/request_response/device_configuration.py
  xknx/io/request_response/disconnect.py
  xknx/io/request_response/request_response.py
  xknx/io/request_response/session.py
  xknx/io/request_response/tunnelling.py
  xknx/io/self_description.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx, pylint-test

Generic Telegram
  docs/changelog.md
  examples/example_read_serial_number.py
  pyproject.toml
  xknx/devices/binary_sensor.py
  xknx/devices/climate.py
  xknx/devices/climate_mode.py
  xknx/devices/cover.py
  xknx/devices/datetime.py
  xknx/devices/device.py
  xknx/devices/expose_sensor.py
  xknx/devices/fan.py
  xknx/devices/light.py
  xknx/devices/notification.py
  xknx/devices/numeric_value.py
  xknx/devices/raw_value.py
  xknx/devices/scene.py
  xknx/devices/sensor.py
  xknx/devices/switch.py
  xknx/devices/weather.py
  xknx/management/management.py
  xknx/management/procedures/device/dm_authorize.py
  xknx/management/procedures/device/dm_connect_r_co.py
  xknx/management/procedures/network/nm_individual_address_check.py
  xknx/remote_value/remote_value.py
  xknx/telegram/__init__.py
  xknx/telegram/telegram.py
Due: mypy, pylint-xknx

Make Telegram.payload non-optional when parametrized with a concrete APCI type
  docs/changelog.md
  examples/example_read_serial_number.py
  xknx/management/procedures/device/dm_authorize.py
  xknx/management/procedures/device/dm_connect_r_co.py
  xknx/telegram/telegram.py
Due: mypy, pylint-xknx

Type the RESPONSE_TYPE descriptor instead of hiding it from mypy
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

Convert the remaining point-to-point request services to APCIRequest
  docs/changelog.md
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

Derive expected response via isinstance instead of a stringly-typed getattr
  xknx/management/management.py
Due: mypy, pylint-xknx

Make APCIRequest a slotted dataclass so its subclasses stay slotted
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

Restore the KNX service code order of the reordered Response classes
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

Narrow typing_extensions dependency back to python_version<'3.13'
  pyproject.toml
  requirements/production.txt
  xknx/telegram/telegram.py
  xknx/typing/__init__.py
Due: mypy, pylint-xknx

Derive P2PConnection.request()'s expected response from the payload's APCI type
  docs/changelog.md
  examples/example_read_serial_number.py
  test/management_tests/management_test.py
  xknx/management/management.py
  xknx/management/procedures/device/dm_authorize.py
  xknx/management/procedures/device/dm_connect_r_co.py
  xknx/management/procedures/network/nm_individual_address_check.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

Reorder Response classes before their Request/Read counterpart
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

Stop describing APCIRequest by an argument that no longer exists
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

Make APCIRequest an APCI subclass to drop Any from request()
  docs/changelog.md
  xknx/management/management.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

Derive RESPONSE_TYPE from the APCIRequest type argument
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

Order request services after the response they name
  docs/changelog.md
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

Derive RESPONSE_TYPE in __init_subclass__ like RequestResponse does
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

Keep APCIRequest out of @dataclass so __init_subclass__ can call super()
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

Manage dependencies with uv and run hooks with prek
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/pre-commit-update.yml
  .gitignore
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  docs/changelog.md
  pyproject.toml
  requirements/production.txt
  requirements/testing.txt
  script/run-in-env.sh
  tox.ini
  uv.lock
Due: none

Publish to PyPI with trusted publishing
  .github/workflows/pythonpublish.yml
  docs/changelog.md
Due: none

Make Telegram generic over its payload's APCI type (#1908)
  docs/changelog.md
  examples/example_read_serial_number.py
  pyproject.toml
  requirements/production.txt
  test/management_tests/management_test.py
  xknx/devices/binary_sensor.py
  xknx/devices/climate.py
  xknx/devices/climate_mode.py
  xknx/devices/cover.py
  xknx/devices/datetime.py
  xknx/devices/device.py
  xknx/devices/expose_sensor.py
  xknx/devices/fan.py
  xknx/devices/light.py
  xknx/devices/notification.py
  xknx/devices/numeric_value.py
  xknx/devices/raw_value.py
  xknx/devices/scene.py
  xknx/devices/sensor.py
  xknx/devices/switch.py
  xknx/devices/weather.py
  xknx/management/management.py
  xknx/management/procedures/device/dm_authorize.py
  xknx/management/procedures/device/dm_connect_r_co.py
  xknx/management/procedures/network/nm_individual_address_check.py
  xknx/remote_value/remote_value.py
  xknx/telegram/__init__.py
  xknx/telegram/apci.py
  xknx/telegram/telegram.py
  xknx/typing/__init__.py
Due: mypy, pylint-xknx, pylint-test

Drop Python 3.10 support
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  docs/changelog.md
  docs/index.md
  pyproject.toml
  requirements/production.txt
  test/conftest.py
  test/core_tests/connection_manager_test.py
  test/core_tests/value_reader_test.py
  test/integration_tests/routing_multicast_test.py
  test/io_tests/request_response_tests/request_response_test.py
  test/io_tests/secure_session_test.py
  test/management_tests/procedures/device/test_dm_authorize.py
  tox.ini
  xknx/cemi/cemi_handler.py
  xknx/core/value_reader.py
  xknx/devices/datetime.py
  xknx/devices/device.py
  xknx/dpt/dpt.py
  xknx/dpt/helpers/relative_control.py
  xknx/io/device_management_connection.py
  xknx/io/gateway_scanner.py
  xknx/io/ip_secure.py
  xknx/io/request_response/request_response.py
  xknx/io/transport/tcp_transport.py
  xknx/management/management.py
  xknx/management/procedures/network/nm_individual_address_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_read.py
  xknx/secure/data_secure.py
  xknx/telegram/address.py
  xknx/typing/__init__.py
  xknx/util/__init__.py
Due: mypy, pylint-xknx, pylint-test

Drop Python 3.10 support (#1913)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  docs/changelog.md
  docs/index.md
  pyproject.toml
  requirements/production.txt
  test/conftest.py
  test/core_tests/connection_manager_test.py
  test/core_tests/value_reader_test.py
  test/integration_tests/routing_multicast_test.py
  test/io_tests/request_response_tests/request_response_test.py
  test/io_tests/secure_session_test.py
  test/management_tests/procedures/device/test_dm_authorize.py
  tox.ini
  xknx/cemi/cemi_handler.py
  xknx/core/value_reader.py
  xknx/devices/datetime.py
  xknx/devices/device.py
  xknx/dpt/dpt.py
  xknx/dpt/helpers/relative_control.py
  xknx/io/device_management_connection.py
  xknx/io/gateway_scanner.py
  xknx/io/ip_secure.py
  xknx/io/request_response/request_response.py
  xknx/io/transport/tcp_transport.py
  xknx/management/management.py
  xknx/management/procedures/network/nm_individual_address_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_read.py
  xknx/secure/data_secure.py
  xknx/telegram/address.py
  xknx/typing/__init__.py
  xknx/util/__init__.py
Due: mypy, pylint-xknx, pylint-test

feat!: remove export with spelling mistake (#1909)
  xknx/management/procedures/__init__.py
Due: mypy, pylint-xknx

Disable ruff ASYNC109 rule
  pyproject.toml
  xknx/management/management.py
  xknx/management/procedures/network/nm_individual_address_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_read.py
Due: mypy, pylint-xknx
