Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude_types: [csv, json]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.9.1'
    hooks:
      - id: ruff
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
        files: ^((xknx|test|examples|docs)/.+)?[^/]+\.py$
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=main
      - id: trailing-whitespace
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.7.0
    hooks:
      # Run `pre-commit run --hook-stage manual python-typing-update --all-files` manually
      # from time to time to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py310-plus
          - --force
          - --keep-updates
        files: ^(xknx)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^xknx/.+\.py$

  - repo: local
    hooks:
    - id: pylint-xknx
      name: pylint-xknx
      entry: pylint xknx examples
      language: python
      types: [python]
      pass_filenames: true
      files: ^(xknx/|examples/)

    - id: pylint-test
      name: pylint-test
      entry: pylint --disable=protected-access,abstract-class-instantiated
      language: python
      types: [python]
      pass_filenames: true
      files: ^test/

refactor(management): add composable connection-based procedure cores (#1832)
  docs/changelog.md
  test/management_tests/management_test.py
  test/management_tests/procedures/device/test_dm_restart_r_co.py
  test/management_tests/procedures/network/test_nm_individual_address_check.py
  test/management_tests/procedures/network/test_nm_individual_address_write.py
  xknx/management/management.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dm_restart_r_co.py
  xknx/management/procedures/network/__init__.py
  xknx/management/procedures/network/nm_individual_address_check.py
  xknx/management/procedures/network/nm_individual_address_write.py
Due: mypy, pylint-xknx, pylint-test

Notify on every received Cover position telegram
  docs/changelog.md
  test/devices_tests/cover_test.py
  xknx/devices/cover.py
Due: mypy, pylint-xknx, pylint-test

Notify on every received Cover position telegram (#1902)
  docs/changelog.md
  test/devices_tests/cover_test.py
  xknx/devices/cover.py
Due: mypy, pylint-xknx, pylint-test

Release 3.19.0
  docs/changelog.md
  xknx/__version__.py
Due: mypy, pylint-xknx

Format device management spec citations per AGENTS.md convention
  AGENTS.md
  docs/changelog.md
  xknx/io/device_management.py
  xknx/io/device_management_connection.py
Due: mypy, pylint-xknx

feat: add a device management connection client (#1899)
  AGENTS.md
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/io_tests/device_management_connection_test.py
  test/io_tests/device_management_test.py
  test/io_tests/request_response_tests/device_configuration_test.py
  xknx/cemi/cemi_frame.py
  xknx/io/__init__.py
  xknx/io/const.py
  xknx/io/device_management.py
  xknx/io/device_management_connection.py
  xknx/io/request_response/device_configuration.py
Due: mypy, pylint-xknx, pylint-test

docs: trim AGENTS.md's KNX spec citation section to rules, not file locations
  AGENTS.md
Due: none

docs: zero-pad the remaining KNX document number citations
  xknx/io/routing.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

feat(management): implement dm_authorize and dm_connect procedures
  test/management_tests/procedures/device/test_dm_authorize.py
  test/management_tests/procedures/device/test_dm_connect.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dm_authorize.py
  xknx/management/procedures/device/dm_connect.py
Due: mypy, pylint-xknx, pylint-test

feat(management): default dmp_authorize_r_co key to FREE_ACCESS_KEY
  xknx/management/procedures/device/dm_authorize.py
Due: mypy, pylint-xknx

fix(management): adapt dm_authorize/dm_connect to current API and citation format
  test/management_tests/procedures/device/test_dm_authorize.py
  test/management_tests/procedures/device/test_dm_connect.py
  xknx/management/procedures/device/dm_authorize.py
  xknx/management/procedures/device/dm_connect.py
Due: mypy, pylint-xknx, pylint-test

docs: trim AGENTS.md's KNX spec citation section to rules, not file locations (#1903)
  AGENTS.md
  xknx/io/routing.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

docs: add changelog entry for dm_authorize/dm_connect procedures
  docs/changelog.md
Due: none

fix(management): address review of dm_authorize/dm_connect
  docs/changelog.md
  test/management_tests/procedures/device/test_dm_authorize.py
  test/management_tests/procedures/device/test_dm_connect.py
  test/management_tests/procedures/device/test_dm_connect_r_co.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dm_authorize.py
  xknx/management/procedures/device/dm_connect_r_co.py
Due: mypy, pylint-xknx, pylint-test

fix(test): drop same-module xknx_setup fixture, fixing pylint W0621
  test/management_tests/procedures/device/test_dm_authorize.py
Due: pylint-test

Extract shared data connection mechanics; adopt in device management
  docs/changelog.md
  test/io_tests/data_connection_test.py
  test/io_tests/device_management_connection_test.py
  xknx/io/data_connection.py
  xknx/io/device_management.py
  xknx/io/device_management_connection.py
Due: mypy, pylint-xknx, pylint-test

Adopt the shared data connection mechanics in the tunnel
  xknx/io/tunnel.py
Due: mypy, pylint-xknx

Address review: citation format, named heartbeat logs, quiet end on a gone connection
  test/io_tests/data_connection_test.py
  test/io_tests/device_management_connection_test.py
  xknx/io/data_connection.py
  xknx/io/device_management_connection.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx, pylint-test

Drop the expected_sequence_number compatibility properties
  test/io_tests/device_management_test.py
  test/io_tests/tunnel_test.py
  xknx/io/device_management.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx, pylint-test

Add ExposeSensor.initialize_value()
  docs/changelog.md
  test/devices_tests/expose_sensor_test.py
  xknx/devices/expose_sensor.py
Due: mypy, pylint-xknx, pylint-test

End the tunnel heartbeat quietly on a cleared channel, like device management
  test/io_tests/tunnel_test.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx, pylint-test

Test the tunnel heartbeat guard directly instead of staging a dead channel
  test/io_tests/tunnel_test.py
Due: pylint-test

Extract shared data connection mechanics for tunnelling and device management (#1904)
  docs/changelog.md
  test/io_tests/data_connection_test.py
  test/io_tests/device_management_connection_test.py
  test/io_tests/device_management_test.py
  test/io_tests/tunnel_test.py
  xknx/io/data_connection.py
  xknx/io/device_management.py
  xknx/io/device_management_connection.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx, pylint-test

Add ExposeSensor.initialize_value() (#1906)
  docs/changelog.md
  test/devices_tests/expose_sensor_test.py
  xknx/devices/expose_sensor.py
Due: mypy, pylint-xknx, pylint-test

feat(management): implement dm_authorize and dm_connect procedures (#1833)
  docs/changelog.md
  test/management_tests/procedures/device/test_dm_authorize.py
  test/management_tests/procedures/device/test_dm_connect_r_co.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dm_authorize.py
  xknx/management/procedures/device/dm_connect_r_co.py
Due: mypy, pylint-xknx, pylint-test

feat(management): implement DMP_InterfaceObjectRead_R and DMP_InterfaceObjectWrite_R
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

docs: add changelog entry for DMP_InterfaceObjectRead_R and DMP_InterfaceObjectWrite_R
  docs/changelog.md
Due: none

feat(management): implement DMP_InterfaceObjectScan_R and DMP_InterfaceObjectVerify_R
  test/management_tests/procedures/device/test_dmp_interface_object_scan_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

refactor(management): remove spec text from scan_r and verify_r module docstrings
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
Due: mypy, pylint-xknx

fix(management): use fixture(name=) pattern to avoid pylint redefined-outer-name in device procedure tests
  docs/changelog.md
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_scan_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
Due: mypy, pylint-xknx, pylint-test

fix(management): satisfy mypy and ruff format for interface object procedures
  test/management_tests/procedures/device/test_dmp_interface_object_scan_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

docs: fix spec citation format in interface object procedures
  AGENTS.md
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_scan_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

test(management): cover verify_r's count guard, ValueError and partial-response error
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
Due: pylint-test

update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Release 3.20.0
  docs/changelog.md
  xknx/__version__.py
Due: mypy, pylint-xknx

Shorten changelog.md
  docs/changelog.md
Due: none

fix(management): address review comments on interface object procedures
  xknx/management/procedures/device/const.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx

docs: fix misattributed spec citation for the skipped discovery step
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx

fix(apci): validate start_index bounds in PropertyValue Read/Write/Response
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat(exceptions): add PropertyVerificationError
  xknx/exceptions/__init__.py
  xknx/exceptions/exception.py
Due: mypy, pylint-xknx
