Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude_types: [csv, json]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.9.1'
    hooks:
      - id: ruff
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
        files: ^((xknx|test|examples|docs)/.+)?[^/]+\.py$
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=main
      - id: trailing-whitespace
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.7.0
    hooks:
      # Run `pre-commit run --hook-stage manual python-typing-update --all-files` manually
      # from time to time to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py310-plus
          - --force
          - --keep-updates
        files: ^(xknx)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^xknx/.+\.py$

  - repo: local
    hooks:
    - id: pylint-xknx
      name: pylint-xknx
      entry: pylint xknx examples
      language: python
      types: [python]
      pass_filenames: true
      files: ^(xknx/|examples/)

    - id: pylint-test
      name: pylint-test
      entry: pylint --disable=protected-access,abstract-class-instantiated
      language: python
      types: [python]
      pass_filenames: true
      files: ^test/

Name DPT classes by their class name in default device names
  test/devices_tests/sensor_test.py
  xknx/devices/expose_sensor.py
  xknx/devices/numeric_value.py
  xknx/devices/sensor.py
Due: mypy, pylint-xknx, pylint-test

Make Device name optional and pass changes down to RemoteValues (#1926)
  docs/changelog.md
  docs/devices.md
  docs/raw_value.md
  test/devices_tests/climate_test.py
  test/devices_tests/device_test.py
  test/devices_tests/expose_sensor_test.py
  test/devices_tests/light_test.py
  test/devices_tests/numeric_value_test.py
  test/devices_tests/raw_value_test.py
  test/devices_tests/sensor_test.py
  test/str_test.py
  xknx/devices/binary_sensor.py
  xknx/devices/climate.py
  xknx/devices/climate_mode.py
  xknx/devices/cover.py
  xknx/devices/datetime.py
  xknx/devices/device.py
  xknx/devices/expose_sensor.py
  xknx/devices/fan.py
  xknx/devices/light.py
  xknx/devices/notification.py
  xknx/devices/numeric_value.py
  xknx/devices/raw_value.py
  xknx/devices/scene.py
  xknx/devices/sensor.py
  xknx/devices/switch.py
  xknx/devices/weather.py
Due: mypy, pylint-xknx, pylint-test

feat!: make value_type a required argument
  docs/changelog.md
  docs/numeric_value.md
  docs/sensor.md
  examples/example_powermeter_mqtt.py
  examples/example_sensor.py
  test/devices_tests/device_test.py
  test/devices_tests/expose_sensor_test.py
  test/devices_tests/notification_test.py
  test/devices_tests/numeric_value_test.py
  test/devices_tests/sensor_expose_loop_test.py
  test/devices_tests/sensor_test.py
  test/remote_value_tests/remote_value_sensor_test.py
  test/remote_value_tests/remote_value_string_test.py
  test/str_test.py
  test/tools_tests/tools_test.py
  xknx/devices/expose_sensor.py
  xknx/devices/light.py
  xknx/devices/notification.py
  xknx/devices/numeric_value.py
  xknx/devices/sensor.py
  xknx/remote_value/remote_value_sensor.py
Due: mypy, pylint-xknx, pylint-test

docs: fix RawValue argument order
  docs/raw_value.md
Due: none

refactor: pass Light value types as DPT classes by keyword
  xknx/devices/light.py
Due: mypy, pylint-xknx

refactor: pass Climate and Weather value types as DPT classes
  xknx/devices/climate.py
  xknx/devices/weather.py
Due: mypy, pylint-xknx

Make value_type a required argument (#1920)
  docs/changelog.md
  docs/numeric_value.md
  docs/raw_value.md
  docs/sensor.md
  examples/example_powermeter_mqtt.py
  examples/example_sensor.py
  test/devices_tests/device_test.py
  test/devices_tests/expose_sensor_test.py
  test/devices_tests/notification_test.py
  test/devices_tests/numeric_value_test.py
  test/devices_tests/sensor_expose_loop_test.py
  test/devices_tests/sensor_test.py
  test/remote_value_tests/remote_value_sensor_test.py
  test/remote_value_tests/remote_value_string_test.py
  test/str_test.py
  test/tools_tests/tools_test.py
  xknx/devices/climate.py
  xknx/devices/expose_sensor.py
  xknx/devices/light.py
  xknx/devices/notification.py
  xknx/devices/numeric_value.py
  xknx/devices/sensor.py
  xknx/devices/weather.py
  xknx/remote_value/remote_value_sensor.py
Due: mypy, pylint-xknx, pylint-test

Remove ha_device_class
  docs/changelog.md
  test/devices_tests/numeric_value_test.py
  test/devices_tests/sensor_test.py
  test/devices_tests/weather_test.py
  xknx/devices/numeric_value.py
  xknx/devices/sensor.py
  xknx/dpt/dpt.py
  xknx/dpt/dpt_13.py
  xknx/dpt/dpt_14.py
  xknx/dpt/dpt_29.py
  xknx/dpt/dpt_7.py
  xknx/dpt/dpt_8.py
  xknx/dpt/dpt_9.py
  xknx/remote_value/remote_value_by_length.py
  xknx/remote_value/remote_value_sensor.py
Due: mypy, pylint-xknx, pylint-test

Update changelog.md
  docs/changelog.md
Due: none

Remove ha_device_class (#1928)
  docs/changelog.md
  test/devices_tests/numeric_value_test.py
  test/devices_tests/sensor_test.py
  test/devices_tests/weather_test.py
  xknx/devices/numeric_value.py
  xknx/devices/sensor.py
  xknx/dpt/dpt.py
  xknx/dpt/dpt_13.py
  xknx/dpt/dpt_14.py
  xknx/dpt/dpt_29.py
  xknx/dpt/dpt_7.py
  xknx/dpt/dpt_8.py
  xknx/dpt/dpt_9.py
  xknx/remote_value/remote_value_by_length.py
  xknx/remote_value/remote_value_sensor.py
Due: mypy, pylint-xknx, pylint-test

Add DPT 275.100/275.101 room temperature setpoint sets
  AGENTS.md
  docs/changelog.md
  test/dpt_tests/dpt_275_test.py
  test/dpt_tests/dpt_lookup_test.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt_275.py
Due: mypy, pylint-xknx, pylint-test

Extract a shared base for the DPT 275 setpoint dataclasses
  xknx/dpt/dpt_275.py
Due: mypy, pylint-xknx

fix!: reject 0x7FFF invalid data in DPT 9.xxx
  docs/changelog.md
  test/devices_tests/sensor_expose_loop_test.py
  test/dpt_tests/dpt_9_float_test.py
  xknx/dpt/dpt_9.py
Due: mypy, pylint-xknx, pylint-test

fix: correct address filter range syntax in telegram monitor example
  examples/example_telegram_monitor.py
Due: pylint-xknx

feat: add command line interface
  docs/changelog.md
  pyproject.toml
  xknx/__main__.py
  xknx/cli/__init__.py
  xknx/cli/_command.py
  xknx/cli/group/__init__.py
  xknx/cli/group/_base.py
  xknx/cli/group/monitor.py
  xknx/cli/group/read.py
  xknx/cli/group/write.py
  xknx/cli/scan.py
Due: mypy, pylint-xknx

test: add command line interface tests
  test/cli_tests/__init__.py
  test/cli_tests/cli_test.py
Due: pylint-test

fix: address Copilot review findings for the CLI
  test/cli_tests/cli_test.py
  xknx/cli/_command.py
  xknx/cli/group/monitor.py
  xknx/cli/group/read.py
  xknx/cli/group/write.py
Due: mypy, pylint-xknx, pylint-test

refactor: rename GroupCommand.execute to run_connected
  xknx/cli/group/_base.py
  xknx/cli/group/monitor.py
  xknx/cli/group/read.py
  xknx/cli/group/write.py
Due: mypy, pylint-xknx

fix: correct address filter range syntax in telegram monitor example (#1935)
  examples/example_telegram_monitor.py
Due: pylint-xknx

feat: scan all interfaces by default
  test/cli_tests/cli_test.py
  xknx/cli/scan.py
Due: mypy, pylint-xknx, pylint-test

feat: read default gateway and local IP from the environment
  test/cli_tests/cli_test.py
  xknx/cli/__init__.py
Due: mypy, pylint-xknx, pylint-test

feat(management): implement DMP_InterfaceObjectRead_R and DMP_InterfaceObjectWrite_R
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

refactor(management): remove spec text from scan_r and verify_r module docstrings
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
Due: mypy, pylint-xknx

docs: add changelog entry for DMP_InterfaceObjectRead_R and DMP_InterfaceObjectWrite_R
  docs/changelog.md
Due: none

feat(management): implement DMP_InterfaceObjectScan_R and DMP_InterfaceObjectVerify_R
  test/management_tests/procedures/device/test_dmp_interface_object_scan_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

fix(management): satisfy mypy and ruff format for interface object procedures
  test/management_tests/procedures/device/test_dmp_interface_object_scan_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

fix(management): use fixture(name=) pattern to avoid pylint redefined-outer-name in device procedure tests
  docs/changelog.md
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_scan_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
Due: mypy, pylint-xknx, pylint-test

docs: fix spec citation format in interface object procedures
  AGENTS.md
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_scan_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

test(management): cover verify_r's count guard, ValueError and partial-response error
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
Due: pylint-test

fix(management): address review comments on interface object procedures
  xknx/management/procedures/device/const.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx

docs: fix misattributed spec citation for the skipped discovery step
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx

fix(apci): validate start_index bounds in PropertyValue Read/Write/Response
  test/telegram_tests/apci_test.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

fix(management): reject start_index=0 in read_r/verify_r
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
Due: mypy, pylint-xknx, pylint-test

fix(management): bound interface object read/write/verify chunk size by max APDU length
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/device/const.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

fix(management): address correctness/robustness review of interface object procedures
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_scan_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

fix(management): reject start_index + count - 1 overflowing 4095 upfront
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

fix(management): probe element size before chunking interface object reads
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
Due: mypy, pylint-xknx, pylint-test

feat(exceptions): add PropertyVerificationError
  xknx/exceptions/__init__.py
  xknx/exceptions/exception.py
Due: mypy, pylint-xknx
