Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude_types: [csv, json]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.9.1'
    hooks:
      - id: ruff
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
        files: ^((xknx|test|examples|docs)/.+)?[^/]+\.py$
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=main
      - id: trailing-whitespace
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.7.0
    hooks:
      # Run `pre-commit run --hook-stage manual python-typing-update --all-files` manually
      # from time to time to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py310-plus
          - --force
          - --keep-updates
        files: ^(xknx)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^xknx/.+\.py$

  - repo: local
    hooks:
    - id: pylint-xknx
      name: pylint-xknx
      entry: pylint xknx examples
      language: python
      types: [python]
      pass_filenames: true
      files: ^(xknx/|examples/)

    - id: pylint-test
      name: pylint-test
      entry: pylint --disable=protected-access,abstract-class-instantiated
      language: python
      types: [python]
      pass_filenames: true
      files: ^test/

fix(mcp): reorder GroupValue union types to prevent object schema generation
  xknx/__version__.py
  xknx/mcp/types.py
Due: mypy, pylint-xknx

Parse M_PropInfo.ind cEMI frames
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  xknx/cemi/cemi_frame.py
Due: mypy, pylint-xknx, pylint-test

Acknowledge received DeviceConfigurationRequest frames
  docs/changelog.md
  test/io_tests/device_management_test.py
  xknx/io/__init__.py
  xknx/io/device_management.py
Due: mypy, pylint-xknx, pylint-test

Fix S-A-Service encoding of S-A_Sync_Req in the SCF
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/secure/data_secure_asdu.py
Due: mypy, pylint-xknx, pylint-test

Cite the Application Layer spec instead of AN158
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/secure/data_secure_asdu.py
Due: mypy, pylint-xknx, pylint-test

Trim the S-A-Service comment to the spec reference
  xknx/secure/data_secure_asdu.py
Due: mypy, pylint-xknx

Address review: spec-deviation comment, test rename, changelog section
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  xknx/cemi/cemi_frame.py
Due: mypy, pylint-xknx, pylint-test

Fix S-A-Service encoding of S-A_Sync_Req in the SCF (#1901)
  docs/changelog.md
  test/telegram_tests/apci_test.py
  xknx/secure/data_secure_asdu.py
Due: mypy, pylint-xknx, pylint-test

Don't swallow the cause of CEMI and APDU parse errors
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/telegram_tests/apci_test.py
  xknx/cemi/cemi_frame.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

Parse M_PropInfo.ind cEMI frames (#1898)
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  xknx/cemi/cemi_frame.py
Due: mypy, pylint-xknx, pylint-test

Add a device management connection client
  docs/changelog.md
  test/io_tests/device_management_connection_test.py
  xknx/io/__init__.py
  xknx/io/const.py
  xknx/io/device_management_connection.py
  xknx/io/request_response/device_configuration.py
Due: mypy, pylint-xknx, pylint-test

Harden DeviceManagementConnection failure paths
  docs/changelog.md
  test/io_tests/device_management_connection_test.py
  test/io_tests/request_response_tests/device_configuration_test.py
  xknx/io/device_management.py
  xknx/io/device_management_connection.py
Due: mypy, pylint-xknx, pylint-test

Add TCPDeviceManagementConnection
  docs/changelog.md
  test/io_tests/device_management_connection_test.py
  xknx/io/__init__.py
  xknx/io/device_management_connection.py
Due: mypy, pylint-xknx, pylint-test

Add SecureDeviceManagementConnection
  docs/changelog.md
  test/io_tests/device_management_connection_test.py
  xknx/io/__init__.py
  xknx/io/device_management_connection.py
Due: mypy, pylint-xknx, pylint-test

Cover the device management failure paths in tests
  test/io_tests/device_management_connection_test.py
  test/io_tests/device_management_test.py
  xknx/io/device_management_connection.py
Due: mypy, pylint-xknx, pylint-test

Type __aenter__ of a device management connection as Self
  xknx/io/device_management_connection.py
Due: mypy, pylint-xknx

Don't swallow the cause of CEMI and APDU parse errors (#1900)
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/telegram_tests/apci_test.py
  xknx/cemi/cemi_frame.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

fix(management): simplify nm_individual_address_write, correct changelog
  docs/changelog.md
  test/management_tests/procedures/network/test_nm_individual_address_read.py
  test/management_tests/procedures/network/test_nm_individual_address_serial_number_read.py
  test/management_tests/procedures/network/test_nm_individual_address_serial_number_write.py
  test/management_tests/procedures/network/test_nm_individual_address_write.py
  xknx/management/procedures/network/nm_individual_address_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_write.py
  xknx/management/procedures/network/nm_individual_address_write.py
Due: mypy, pylint-xknx, pylint-test

refactor(management): pass xknx instead of xknx.management to owning procedures
  docs/changelog.md
  examples/example_read_serial_number.py
  examples/example_restart.py
  examples/example_write_individual_address.py
  examples/example_write_serial_number.py
  test/management_tests/procedures/device/test_dm_restart_r_co.py
  test/management_tests/procedures/network/test_nm_individual_address_check.py
  test/management_tests/procedures/network/test_nm_individual_address_read.py
  test/management_tests/procedures/network/test_nm_individual_address_serial_number_read.py
  test/management_tests/procedures/network/test_nm_individual_address_serial_number_write.py
  test/management_tests/procedures/network/test_nm_individual_address_write.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/dm_restart_r_co.py
  xknx/management/procedures/network/nm_individual_address_check.py
  xknx/management/procedures/network/nm_individual_address_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_write.py
  xknx/management/procedures/network/nm_individual_address_write.py
Due: mypy, pylint-xknx, pylint-test

refactor(management): drop protocols and legacy shims per review feedback
  docs/changelog.md
  examples/example_read_serial_number.py
  examples/example_restart.py
  examples/example_write_individual_address.py
  examples/example_write_serial_number.py
  test/management_tests/procedures/device/test_dm_restart_r_co.py
  test/management_tests/procedures/device/test_legacy.py
  test/management_tests/procedures/network/test_legacy.py
  test/management_tests/procedures/network/test_nm_individual_address_check.py
  test/management_tests/procedures/network/test_nm_individual_address_write.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dm_restart_r_co.py
  xknx/management/procedures/device/legacy.py
  xknx/management/procedures/network/__init__.py
  xknx/management/procedures/network/legacy.py
  xknx/management/procedures/network/nm_individual_address_check.py
  xknx/management/procedures/network/nm_individual_address_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_write.py
  xknx/management/procedures/network/nm_individual_address_write.py
  xknx/management/protocols.py
Due: mypy, pylint-xknx, pylint-test

fix(management): resolve pylint warnings in protocols and procedures
  xknx/management/procedures/__init__.py
  xknx/management/protocols.py
Due: mypy, pylint-xknx

refactor(management): merge send_data_no_ack into send_data(payload, wait_for_ack)
  docs/changelog.md
  test/management_tests/management_test.py
  xknx/management/management.py
  xknx/management/procedures/device/dm_restart_r_co.py
Due: mypy, pylint-xknx, pylint-test

docs(management): add KNX spec document version to spec references
  docs/changelog.md
  test/management_tests/procedures/device/test_dm_restart_r_co.py
  test/management_tests/procedures/network/test_nm_individual_address_check.py
  test/management_tests/procedures/network/test_nm_individual_address_write.py
  xknx/management/management.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dm_restart_r_co.py
  xknx/management/procedures/network/__init__.py
  xknx/management/procedures/network/nm_individual_address_check.py
  xknx/management/procedures/network/nm_individual_address_write.py
Due: mypy, pylint-xknx, pylint-test

test(management): fix mistimed test, cover ManagementConnectionRefused guards
  test/management_tests/management_test.py
  test/management_tests/procedures/network/test_nm_individual_address_write.py
Due: pylint-test

test(management): cover ManagementConnectionRefused swallow path in nm_individual_address_write
  test/management_tests/procedures/network/test_nm_individual_address_write.py
Due: pylint-test

docs: add changelog entry for procedure API refactor
  docs/changelog.md
Due: none

docs: fix changelog entries landing under an already-released version
  docs/changelog.md
Due: none

refactor(management): clean protocol API for procedures
  test/management_tests/procedures/device/test_dm_restart_r_co.py
  test/management_tests/procedures/device/test_legacy.py
  test/management_tests/procedures/network/test_legacy.py
  test/management_tests/procedures/network/test_nm_individual_address_check.py
  test/management_tests/procedures/network/test_nm_individual_address_read.py
  test/management_tests/procedures/network/test_nm_individual_address_serial_number_read.py
  test/management_tests/procedures/network/test_nm_individual_address_serial_number_write.py
  test/management_tests/procedures/network/test_nm_individual_address_write.py
  xknx/management/management.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dm_restart_r_co.py
  xknx/management/procedures/device/legacy.py
  xknx/management/procedures/network/__init__.py
  xknx/management/procedures/network/legacy.py
  xknx/management/procedures/network/nm_individual_address_check.py
  xknx/management/procedures/network/nm_individual_address_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_write.py
  xknx/management/procedures/network/nm_individual_address_write.py
  xknx/management/protocols.py
Due: mypy, pylint-xknx, pylint-test

refactor(management): simplify nm_individual_address_check per review
  xknx/management/procedures/network/nm_individual_address_check.py
Due: mypy, pylint-xknx

Resolve property error codes tolerantly at parse time
  docs/changelog.md
  test/cemi_tests/cemi_frame_test.py
  test/io_tests/device_management_connection_test.py
  xknx/cemi/cemi_frame.py
  xknx/io/device_management.py
  xknx/io/device_management_connection.py
Due: mypy, pylint-xknx, pylint-test

fix(management): keep nm_invididual_address_write as deprecated alias
  docs/changelog.md
  xknx/management/procedures/__init__.py
Due: mypy, pylint-xknx

docs: finish KNX v02.01.02 spec version on Management Procedures, add CLAUDE.md
  CLAUDE.md
  test/management_tests/procedures/device/__init__.py
  test/management_tests/procedures/network/__init__.py
  test/management_tests/procedures/network/test_nm_individual_address_read.py
  test/management_tests/procedures/network/test_nm_individual_address_serial_number_read.py
  test/management_tests/procedures/network/test_nm_individual_address_serial_number_write.py
  xknx/management/procedures/network/nm_individual_address_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_write.py
Due: mypy, pylint-xknx, pylint-test

docs: add KNX v02.01.01 version to Application Layer 03.03.07 citations
  CLAUDE.md
  test/telegram_tests/apci_test.py
  xknx/cemi/cemi_frame.py
  xknx/exceptions/exception.py
  xknx/management/management.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

docs: rename CLAUDE.md to AGENTS.md
  AGENTS.md
Due: none

docs: remove local KNX Standard corpus reference from CLAUDE.md
  CLAUDE.md
Due: none

docs: add xknx/secure to the Application Layer citation row
  CLAUDE.md
Due: none

docs: add KNX version to Routing, Communication Medium KNX IP and LTE citations
  CLAUDE.md
  xknx/io/routing.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

docs: broaden CLAUDE.md beyond just KNX spec citations
  CLAUDE.md
Due: none

docs: explain KNX Standard volume/document numbering in CLAUDE.md
  CLAUDE.md
Due: none

docs: complete Management Procedures spec versions, document the citation convention (#1879)
  AGENTS.md
  test/management_tests/procedures/device/__init__.py
  test/management_tests/procedures/network/__init__.py
  test/management_tests/procedures/network/test_nm_individual_address_read.py
  test/management_tests/procedures/network/test_nm_individual_address_serial_number_read.py
  test/management_tests/procedures/network/test_nm_individual_address_serial_number_write.py
  test/telegram_tests/apci_test.py
  xknx/cemi/cemi_frame.py
  xknx/exceptions/exception.py
  xknx/io/routing.py
  xknx/management/management.py
  xknx/management/procedures/network/nm_individual_address_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_read.py
  xknx/management/procedures/network/nm_individual_address_serial_number_write.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test
