Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

pylint-xknx:
  name: pylint-xknx
  entry: pylint xknx examples
  language: python
  pass_filenames: true

pylint-test:
  name: pylint-test
  entry: pylint --disable=protected-access,abstract-class-instantiated
  language: python
  pass_filenames: true

feat(management): support the start_index=0 element-count query in read_r
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
Due: mypy, pylint-xknx, pylint-test

fix(management): adapt interface object procedures to P2PConnection.request() API
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_scan_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
Due: mypy, pylint-xknx, pylint-test

fix(apci): convert PropertyValueWrite to APCIRequest[PropertyValueResponse]
  docs/changelog.md
  xknx/management/procedures/device/dmp_interface_object_write_r.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

docs: move changelog entries to Unreleased and cover the full API surface
  AGENTS.md
  docs/changelog.md
Due: none

feat(management): implement dmp_interface_object_*_r (#1834)
  AGENTS.md
  docs/changelog.md
  test/management_tests/procedures/device/test_dmp_interface_object_read_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_scan_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_verify_r.py
  test/management_tests/procedures/device/test_dmp_interface_object_write_r.py
  test/telegram_tests/apci_test.py
  xknx/exceptions/__init__.py
  xknx/exceptions/exception.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/const.py
  xknx/management/procedures/device/dmp_interface_object_read_r.py
  xknx/management/procedures/device/dmp_interface_object_scan_r.py
  xknx/management/procedures/device/dmp_interface_object_verify_r.py
  xknx/management/procedures/device/dmp_interface_object_write_r.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat(management): add Master Reset to dm_restart_r_co/dm_restart
  docs/changelog.md
  test/management_tests/procedures/device/test_dm_restart_r_co.py
  xknx/management/procedures/device/dm_restart_r_co.py
Due: mypy, pylint-xknx, pylint-test

fix(management): reject reserved erase codes, fix review nits
  docs/changelog.md
  test/management_tests/procedures/device/test_dm_restart_r_co.py
  xknx/management/procedures/device/dm_restart_r_co.py
Due: mypy, pylint-xknx, pylint-test

docs: add knx-review skill with KNX review instructions
  .claude/skills/knx-review/SKILL.md
Due: none

docs(knx-review): cover management and ask for the KNX specification
  .claude/skills/knx-review/SKILL.md
Due: none

docs(knx-review): add the end-to-end PR workflow and expand devices
  .claude/skills/knx-review/SKILL.md
Due: none

feat(management): add Master Reset to dm_restart_r_co/dm_restart (#1937)
  docs/changelog.md
  test/management_tests/procedures/device/test_dm_restart_r_co.py
  xknx/management/procedures/device/dm_restart_r_co.py
Due: mypy, pylint-xknx, pylint-test

test(management): cover memory procedures' guard/delay branches
  test/management_tests/procedures/device/test_dmp_mem_read_r_co.py
  test/management_tests/procedures/device/test_dmp_mem_verify_r_co.py
  test/management_tests/procedures/device/test_dmp_mem_write_r_co.py
  test/management_tests/procedures/device/test_dmp_user_mem_read_r_co.py
  test/management_tests/procedures/device/test_dmp_user_mem_verify_r_co.py
  test/management_tests/procedures/device/test_dmp_user_mem_write_r_co.py
Due: pylint-test

fix(management): bound memory address ranges, verify response echo
  docs/changelog.md
  test/management_tests/procedures/device/test_dmp_mem_read_r_co.py
  test/management_tests/procedures/device/test_dmp_mem_verify_r_co.py
  test/management_tests/procedures/device/test_dmp_mem_write_r_co.py
  test/management_tests/procedures/device/test_dmp_user_mem_read_r_co.py
  test/management_tests/procedures/device/test_dmp_user_mem_verify_r_co.py
  test/management_tests/procedures/device/test_dmp_user_mem_write_r_co.py
  xknx/exceptions/__init__.py
  xknx/exceptions/exception.py
  xknx/management/procedures/device/dmp_mem_read_r_co.py
  xknx/management/procedures/device/dmp_mem_verify_r_co.py
  xknx/management/procedures/device/dmp_mem_write_r_co.py
  xknx/management/procedures/device/dmp_user_mem_read_r_co.py
  xknx/management/procedures/device/dmp_user_mem_verify_r_co.py
  xknx/management/procedures/device/dmp_user_mem_write_r_co.py
Due: mypy, pylint-xknx, pylint-test

feat(management): add memory read/write/verify procedures
  docs/changelog.md
  test/management_tests/procedures/device/test_dmp_mem_read_r_co.py
  test/management_tests/procedures/device/test_dmp_mem_verify_r_co.py
  test/management_tests/procedures/device/test_dmp_mem_write_r_co.py
  test/management_tests/procedures/device/test_dmp_user_mem_read_r_co.py
  test/management_tests/procedures/device/test_dmp_user_mem_verify_r_co.py
  test/management_tests/procedures/device/test_dmp_user_mem_write_r_co.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/const.py
  xknx/management/procedures/device/dmp_mem_read_r_co.py
  xknx/management/procedures/device/dmp_mem_verify_r_co.py
  xknx/management/procedures/device/dmp_mem_write_r_co.py
  xknx/management/procedures/device/dmp_user_mem_read_r_co.py
  xknx/management/procedures/device/dmp_user_mem_verify_r_co.py
  xknx/management/procedures/device/dmp_user_mem_write_r_co.py
Due: mypy, pylint-xknx, pylint-test

feat(management): add memory read/write/verify procedures (#1938)
  docs/changelog.md
  test/management_tests/procedures/device/test_dmp_mem_read_r_co.py
  test/management_tests/procedures/device/test_dmp_mem_verify_r_co.py
  test/management_tests/procedures/device/test_dmp_mem_write_r_co.py
  test/management_tests/procedures/device/test_dmp_user_mem_read_r_co.py
  test/management_tests/procedures/device/test_dmp_user_mem_verify_r_co.py
  test/management_tests/procedures/device/test_dmp_user_mem_write_r_co.py
  xknx/exceptions/__init__.py
  xknx/exceptions/exception.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/const.py
  xknx/management/procedures/device/dmp_mem_read_r_co.py
  xknx/management/procedures/device/dmp_mem_verify_r_co.py
  xknx/management/procedures/device/dmp_mem_write_r_co.py
  xknx/management/procedures/device/dmp_user_mem_read_r_co.py
  xknx/management/procedures/device/dmp_user_mem_verify_r_co.py
  xknx/management/procedures/device/dmp_user_mem_write_r_co.py
Due: mypy, pylint-xknx, pylint-test

feat(management): add DMP_ExtFunctionProperty_Write_R
  docs/changelog.md
  test/management_tests/procedures/device/test_dmp_ext_function_property_write_r.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dmp_ext_function_property_write_r.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

fix(management): validate function property fields, bound command length
  docs/changelog.md
  test/management_tests/procedures/device/test_dm_function_property_write_r.py
  test/management_tests/procedures/device/test_dmp_ext_function_property_write_r.py
  test/telegram_tests/apci_test.py
  xknx/management/procedures/device/const.py
  xknx/management/procedures/device/dm_function_property_write_r.py
  xknx/management/procedures/device/dmp_ext_function_property_write_r.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat(management): add DM_FunctionProperty_Write_R
  docs/changelog.md
  test/management_tests/procedures/device/test_dm_function_property_write_r.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dm_function_property_write_r.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

fix(management): require FunctionPropertyCommand.property_id, guard max_apdu_length
  docs/changelog.md
  test/management_tests/procedures/device/test_dm_function_property_write_r.py
  test/management_tests/procedures/device/test_dmp_ext_function_property_write_r.py
  xknx/management/procedures/device/dm_function_property_write_r.py
  xknx/management/procedures/device/dmp_ext_function_property_write_r.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat(management): add DMP_LoadStateMachineWrite_RCo_IO
  docs/changelog.md
  test/management_tests/procedures/device/test_dmp_load_state_machine_write_r_co_io.py
  test/management_tests/procedures/device/test_load_state.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dmp_load_state_machine_write_r_co_io.py
  xknx/management/procedures/device/load_state.py
Due: mypy, pylint-xknx, pylint-test

fix(management): export load_state vocabulary, validate its fields
  docs/changelog.md
  test/management_tests/procedures/device/test_dmp_load_state_machine_write_r_co_io.py
  test/management_tests/procedures/device/test_load_state.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dmp_load_state_machine_write_r_co_io.py
  xknx/management/procedures/device/load_state.py
Due: mypy, pylint-xknx, pylint-test

feat(management): add Load State Machine read/verify procedures
  docs/changelog.md
  test/management_tests/procedures/device/test_dmp_ext_load_state_machine_read_r_co_io.py
  test/management_tests/procedures/device/test_dmp_ext_load_state_machine_verify_r_co_io.py
  test/management_tests/procedures/device/test_dmp_load_state_machine_read_r_io.py
  test/management_tests/procedures/device/test_dmp_load_state_machine_verify_r_io.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dmp_ext_load_state_machine_read_r_co_io.py
  xknx/management/procedures/device/dmp_ext_load_state_machine_verify_r_co_io.py
  xknx/management/procedures/device/dmp_load_state_machine_read_r_io.py
  xknx/management/procedures/device/dmp_load_state_machine_verify_r_io.py
  xknx/management/procedures/device/dmp_load_state_machine_write_r_co_io.py
  xknx/management/procedures/device/load_state.py
Due: mypy, pylint-xknx, pylint-test

feat(management): add Run State Machine write/verify/read procedures
  docs/changelog.md
  test/management_tests/procedures/device/test_dmp_ext_run_state_machine_read_r_co_io.py
  test/management_tests/procedures/device/test_dmp_ext_run_state_machine_verify_r_co_io.py
  test/management_tests/procedures/device/test_dmp_ext_run_state_machine_write_r_co_io.py
  test/management_tests/procedures/device/test_dmp_run_state_machine_read_r_io.py
  test/management_tests/procedures/device/test_dmp_run_state_machine_verify_r_io.py
  test/management_tests/procedures/device/test_dmp_run_state_machine_write_r_io.py
  test/management_tests/procedures/device/test_run_state.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dmp_ext_run_state_machine_read_r_co_io.py
  xknx/management/procedures/device/dmp_ext_run_state_machine_verify_r_co_io.py
  xknx/management/procedures/device/dmp_ext_run_state_machine_write_r_co_io.py
  xknx/management/procedures/device/dmp_run_state_machine_read_r_io.py
  xknx/management/procedures/device/dmp_run_state_machine_verify_r_io.py
  xknx/management/procedures/device/dmp_run_state_machine_write_r_io.py
  xknx/management/procedures/device/run_state.py
Due: mypy, pylint-xknx, pylint-test

feat(management): add DMP_DownloadLoadablePart_RCo_IO
  docs/changelog.md
  test/management_tests/procedures/device/test_dmp_download_loadable_part_r_co_io.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dmp_download_loadable_part_r_co_io.py
Due: mypy, pylint-xknx, pylint-test

feat(management): add DM_GroupObjectLink_Read/Write_RCl
  docs/changelog.md
  test/management_tests/procedures/device/test_dm_group_object_link_read_r_cl.py
  test/management_tests/procedures/device/test_dm_group_object_link_write_r_cl.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dm_group_object_link_read_r_cl.py
  xknx/management/procedures/device/dm_group_object_link_write_r_cl.py
  xknx/telegram/apci.py
Due: mypy, pylint-xknx, pylint-test

feat(management): add DMP_ProgModeSwitch_RCo
  docs/changelog.md
  test/management_tests/procedures/device/test_dmp_prog_mode_switch_r_co.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dmp_prog_mode_switch_r_co.py
Due: mypy, pylint-xknx, pylint-test

feat(management): add extended-addressing memory read/write/verify procedures
  docs/changelog.md
  test/management_tests/procedures/device/test_dmp_mem_read_extended_r.py
  test/management_tests/procedures/device/test_dmp_mem_verify_extended_r.py
  test/management_tests/procedures/device/test_dmp_mem_write_extended_r.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/const.py
  xknx/management/procedures/device/dmp_mem_read_extended_r.py
  xknx/management/procedures/device/dmp_mem_verify_extended_r.py
  xknx/management/procedures/device/dmp_mem_write_extended_r.py
Due: mypy, pylint-xknx, pylint-test

feat(management): add DM_Identify_R and DM_Identify_RCo2
  docs/changelog.md
  test/management_tests/procedures/device/test_dm_identify_r.py
  test/management_tests/procedures/device/test_dm_identify_r_co2.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/device/__init__.py
  xknx/management/procedures/device/dm_identify_r.py
  xknx/management/procedures/device/dm_identify_r_co2.py
Due: mypy, pylint-xknx, pylint-test

fix(management): recompute p_parity in dmp_prog_mode_switch_r_co instead of toggling
  docs/changelog.md
  test/management_tests/procedures/device/test_dmp_prog_mode_switch_r_co.py
  xknx/management/procedures/device/dmp_prog_mode_switch_r_co.py
Due: mypy, pylint-xknx, pylint-test

fix(apci): keep FunctionPropertyCommand's field order, default property_id to 1
  docs/changelog.md
  xknx/telegram/apci.py
Due: mypy, pylint-xknx

fix!: reject 0x7FFF invalid data in DPT 9.xxx (#1930)
  docs/changelog.md
  test/devices_tests/sensor_expose_loop_test.py
  test/dpt_tests/dpt_9_float_test.py
  xknx/dpt/dpt_9.py
Due: mypy, pylint-xknx, pylint-test

Reuse DPT_9_INVALID_DATA for the DPT 275 not-used marker
  test/dpt_tests/dpt_275_test.py
  xknx/dpt/dpt_275.py
  xknx/dpt/dpt_9.py
Due: mypy, pylint-xknx, pylint-test

Correct the 7FFFh comment and rename the DPT 275.101 names
  test/dpt_tests/dpt_275_test.py
  test/dpt_tests/dpt_lookup_test.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt_275.py
Due: mypy, pylint-xknx, pylint-test

Add DPT 275.100/275.101 room temperature setpoint sets
  AGENTS.md
  docs/changelog.md
  test/dpt_tests/dpt_275_test.py
  test/dpt_tests/dpt_lookup_test.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt_275.py
Due: mypy, pylint-xknx, pylint-test

Extract a shared base for the DPT 275 setpoint dataclasses
  xknx/dpt/dpt_275.py
Due: mypy, pylint-xknx

Add DPT 225.001 (DPT_ScalingSpeed) and wire it into Light
  docs/changelog.md
  docs/light.md
  test/devices_tests/light_test.py
  test/dpt_tests/dpt_scaling_speed_test.py
  test/remote_value_tests/remote_value_scaling_speed_test.py
  xknx/devices/light.py
  xknx/dpt/__init__.py
  xknx/dpt/dpt_225.py
  xknx/remote_value/__init__.py
  xknx/remote_value/remote_value_scaling_speed.py
Due: mypy, pylint-xknx, pylint-test

Resolve threaded interface requests pending when the connection loop stops
  test/io_tests/knxip_interface_test.py
  xknx/io/knxip_interface.py
Due: mypy, pylint-xknx, pylint-test

Add changelog entry for threaded interface stop fix
  docs/changelog.md
Due: none

Path conditions:
  mypy: any of: ^xknx/.+\.py$ and \.py$
  pylint-xknx: any of: ^(xknx/|examples/) and \.py$
  pylint-test: any of: ^test/ and \.py$
