Repository XKNX/xknx: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint-xknx, pylint-test

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude_types: [csv, json]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.9.1'
    hooks:
      - id: ruff
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
        files: ^((xknx|test|examples|docs)/.+)?[^/]+\.py$
        # in CI it is directly run by tox to allow dependency upgrade checks
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: no-commit-to-branch
        args:
          - --branch=main
      - id: trailing-whitespace
  - repo: https://github.com/cdce8p/python-typing-update
    rev: v0.7.0
    hooks:
      # Run `pre-commit run --hook-stage manual python-typing-update --all-files` manually
      # from time to time to update python typing syntax.
      # Will require manual work, before submitting changes!
      - id: python-typing-update
        stages: [manual]
        args:
          - --py310-plus
          - --force
          - --keep-updates
        files: ^(xknx)/.+\.py$
  - repo: local
    hooks:
      # Run mypy through our wrapper script in order to get the possible
      # pyenv and/or virtualenv activated; it may not have been e.g. if
      # committing from a GUI tool that was not launched from an activated
      # shell.
      - id: mypy
        name: mypy
        entry: script/run-in-env.sh mypy
        language: script
        types: [python]
        require_serial: true
        files: ^xknx/.+\.py$

  - repo: local
    hooks:
    - id: pylint-xknx
      name: pylint-xknx
      entry: pylint xknx examples
      language: python
      types: [python]
      pass_filenames: true
      files: ^(xknx/|examples/)

    - id: pylint-test
      name: pylint-test
      entry: pylint --disable=protected-access,abstract-class-instantiated
      language: python
      types: [python]
      pass_filenames: true
      files: ^test/

TaskRegistry: target - sync/async, wait_before_start, wait_for_connection
  docs/changelog.md
  test/core_tests/task_registry_test.py
  xknx/core/task_registry.py
  xknx/devices/binary_sensor.py
  xknx/devices/cover.py
  xknx/devices/datetime.py
  xknx/devices/expose_sensor.py
  xknx/devices/light.py
  xknx/devices/switch.py
Due: mypy, pylint-xknx, pylint-test

Add `repeat_after` option for Task
  docs/changelog.md
  test/core_tests/task_registry_test.py
  xknx/core/task_registry.py
Due: mypy, pylint-xknx, pylint-test

Register and unregister Task by identity instead of name
  test/core_tests/task_registry_test.py
  test/devices_tests/binary_sensor_test.py
  test/devices_tests/cover_test.py
  test/devices_tests/switch_test.py
  xknx/core/task_registry.py
  xknx/devices/binary_sensor.py
  xknx/devices/cover.py
  xknx/devices/datetime.py
  xknx/devices/expose_sensor.py
  xknx/devices/light.py
  xknx/devices/switch.py
Due: mypy, pylint-xknx, pylint-test

Replace TaskRegistry register with start_task
  docs/changelog.md
  test/core_tests/task_registry_test.py
  xknx/core/task_registry.py
  xknx/devices/binary_sensor.py
  xknx/devices/cover.py
  xknx/devices/datetime.py
  xknx/devices/expose_sensor.py
  xknx/devices/light.py
  xknx/devices/switch.py
Due: mypy, pylint-xknx, pylint-test

Change Task start to _start and TaskRegistry unregister to remove_task
  docs/changelog.md
  test/core_tests/task_registry_test.py
  xknx/core/task_registry.py
  xknx/devices/binary_sensor.py
  xknx/devices/cover.py
  xknx/devices/datetime.py
  xknx/devices/expose_sensor.py
  xknx/devices/light.py
  xknx/devices/switch.py
Due: mypy, pylint-xknx, pylint-test

Use new features
  test/devices_tests/datetime_test.py
  test/devices_tests/expose_sensor_test.py
  xknx/devices/datetime.py
  xknx/devices/expose_sensor.py
Due: mypy, pylint-xknx, pylint-test

Update expose_sensor_test.py
  test/devices_tests/expose_sensor_test.py
Due: pylint-test

Update changelog.md
  docs/changelog.md
Due: none

remove stale code
  xknx/devices/switch.py
Due: mypy, pylint-xknx

Flag unregistered task
  xknx/core/task_registry.py
Due: mypy, pylint-xknx

Refactor TaskRegistry (#1796)
  docs/changelog.md
  test/core_tests/task_registry_test.py
  test/devices_tests/binary_sensor_test.py
  test/devices_tests/cover_test.py
  test/devices_tests/datetime_test.py
  test/devices_tests/expose_sensor_test.py
  test/devices_tests/switch_test.py
  xknx/core/task_registry.py
  xknx/devices/binary_sensor.py
  xknx/devices/cover.py
  xknx/devices/datetime.py
  xknx/devices/expose_sensor.py
  xknx/devices/light.py
  xknx/devices/switch.py
Due: mypy, pylint-xknx, pylint-test

Update pyproject license identifier
  pyproject.toml
Due: none

update classifiers
  pyproject.toml
Due: none

Update pyproject license identifier (#1798)
  pyproject.toml
Due: none

Add data_secure flag to Telegram
  docs/changelog.md
  test/cemi_tests/cemi_handler_test.py
  test/remote_value_tests/remote_value_test.py
  test/telegram_tests/telegram_test.py
  xknx/cemi/cemi_handler.py
  xknx/core/telegram_queue.py
  xknx/telegram/telegram.py
Due: mypy, pylint-xknx, pylint-test

Update telegram.py
  xknx/telegram/telegram.py
Due: mypy, pylint-xknx

update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add data_secure flag to Telegram (#1799)
  docs/changelog.md
  test/cemi_tests/cemi_handler_test.py
  test/remote_value_tests/remote_value_test.py
  test/telegram_tests/telegram_test.py
  xknx/cemi/cemi_handler.py
  xknx/core/telegram_queue.py
  xknx/telegram/telegram.py
Due: mypy, pylint-xknx, pylint-test

Add `invert_day_night` attribute to Weather device
  docs/changelog.md
  test/devices_tests/weather_test.py
  xknx/devices/weather.py
Due: mypy, pylint-xknx, pylint-test

Update weather.py
  xknx/devices/weather.py
Due: mypy, pylint-xknx

Update weather_test.py
  test/devices_tests/weather_test.py
Due: pylint-test

Update weather.md
  docs/weather.md
Due: none

Add `invert_day_night` attribute to Weather device (#1801)
  docs/changelog.md
  docs/weather.md
  test/devices_tests/weather_test.py
  xknx/devices/weather.py
Due: mypy, pylint-xknx, pylint-test

Release 3.15.0
  docs/changelog.md
  xknx/__version__.py
Due: mypy, pylint-xknx

feat: add dependency injection support for custom Interface implementations
  xknx/io/__init__.py
  xknx/io/connection.py
  xknx/io/knxip_interface.py
Due: mypy, pylint-xknx

test: add unit tests for custom interface dependency injection
  test/io_tests/knxip_interface_test.py
Due: pylint-test

Enhance Interface ABC with common connection management
  xknx/io/interface.py
  xknx/io/routing.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx

refactor: simplify connection_state_changed per maintainer feedback
  xknx/core/connection_manager.py
  xknx/io/interface.py
  xknx/io/routing.py
  xknx/io/tunnel.py
Due: mypy, pylint-xknx

Update xknx/io/interface.py
  xknx/io/interface.py
Due: mypy, pylint-xknx

Update self_description.py
  xknx/io/self_description.py
Due: mypy, pylint-xknx

Add serial_number and mac_address to GatewayDescriptor
  test/io_tests/gateway_scanner_test.py
  xknx/io/gateway_scanner.py
Due: mypy, pylint-xknx, pylint-test

add multicast_address
  examples/example_gatewayscanner.py
  test/io_tests/gateway_scanner_test.py
  xknx/io/gateway_scanner.py
Due: mypy, pylint-xknx, pylint-test

Add serial_number, mac_address and multicast_address to GatewayDescriptor (#1830)
  examples/example_gatewayscanner.py
  test/io_tests/gateway_scanner_test.py
  xknx/io/gateway_scanner.py
Due: mypy, pylint-xknx, pylint-test

refactor(management): split procedures.py into per-procedure package
  docs/changelog.md
  test/management_tests/procedures/__init__.py
  test/management_tests/procedures/dm/__init__.py
  test/management_tests/procedures/dm/test_dm_restart_rco.py
  test/management_tests/procedures/nm/__init__.py
  test/management_tests/procedures/nm/test_nm_individual_address_check.py
  test/management_tests/procedures/nm/test_nm_individual_address_read.py
  test/management_tests/procedures/nm/test_nm_individual_address_serial_number_read.py
  test/management_tests/procedures/nm/test_nm_individual_address_serial_number_write.py
  test/management_tests/procedures/nm/test_nm_individual_address_write.py
  xknx/management/procedures.py
  xknx/management/procedures/__init__.py
  xknx/management/procedures/dm/__init__.py
  xknx/management/procedures/dm/dm_restart_rco.py
  xknx/management/procedures/nm/__init__.py
  xknx/management/procedures/nm/nm_individual_address_check.py
  xknx/management/procedures/nm/nm_individual_address_read.py
  xknx/management/procedures/nm/nm_individual_address_serial_number_read.py
  xknx/management/procedures/nm/nm_individual_address_serial_number_write.py
  xknx/management/procedures/nm/nm_individual_address_write.py
Due: mypy, pylint-xknx, pylint-test
